[2019-03-20 18:17] BrunoOliveiraDantas opened #1 "Criação de issue Template"
Nessa issue deve ser realizada a criação do template de Issue. O template deve conter o passo a passo de como criar uma issue para o projeto.

## Task

- [x] Elaboração do template de issue.

[2019-03-20 18:34] joaovitor3 commented on #1
Issue template criado na branch gh-pages.

Foi criado nessa branch para depois ser utilizado junto ao github pages

[2019-03-20 18:53] joaovitor3 opened #2 "Treinamento de git"
Realizar treinamento de git para capacitação dos membros de MDS.

Tasks:
- [x] Criação de repositório para realização do treinamento
- [x] Realizar treinamento com todos os integrantes de MDS

Critérios de aceitação:
Os membros de MDS ao finalizarem o treinamento, devem ser capazes de:
- [x] Criar branches a partir de uma branch existente;
- [x] Realização de conflitos;
- [x] Conseguir adicionar a

[2019-03-20 18:58] joaovitor3 commented on #2
Treinamento já realizado em um outro [repositório ](https://github.com/joaovitor3/dojo_git_eps).

Foi solicitado a criação de funções de uma calculadora em um arquivo .c, para geração de conflitos e devidas resoluções entre os membros de MDS, além da abertura de pull requests entre a branch em que o membro modificou o arquivo .c para uma branch de desenvolvimento.

[2019-03-21 01:10] joaovitor3 opened #3 "Elaborar documento de visão"
Tasks:
- [x] Realizar a elaboração do documento de visão de acordo com o[ template](https://www.ibm.com/support/knowledgecenter/pt-br/SSWMEQ_4.0.6/com.ibm.rational.rrm.help.doc/topics/r_vision_doc.html) utilizado no treinamento.

Critérios de aceitação:
- [x] Todos os tópicos de acordo com o template estejam preenchidos.

[2019-03-21 01:25] joaovitor3 opened #4 "Treinamento de metodologias e práticas ágeis"
Realizar treinamento sobre metodologias e práticas ágeis:

Tasks:
- [x] Explicar metodologias ágeis
- [x] Explicar princípios e valores do ágil
- [x] Explicar o manifesto ágil

Critérios de aceitação:
- [x] Equipe de MDS ter maduridade em relação principais práticas ágeis

[2019-03-21 16:34] BrunoOliveiraDantas opened #6 "Criação do template de commits"
Nessa issue deve ser realizada a criação do template de commits. O template deve conter o passo a passo de como deve ser feito um commit.

### Task
- [x] Elaboração do template de commits, desde o conteúdo da mensagem até a conjugação verbal.

[2019-03-21 16:49] ErickGiffoni commented on #3
O grupo está reunido para elaborar o documento.
21/03/2019 - 13:20h às 14h.

[2019-03-21 17:07] BrunoOliveiraDantas opened #7 "Criação do template de pull request"
Nessa issue deve ser realizada a criação do template do pull request. O template deve conter o passo a passo de como deve ser feito um pull request.

### Task

- [x] Elaboração do template de pull request, desdo título até a tag.

[2019-03-21 17:13] ErickGiffoni commented on #2
O treinamento gerou um resultado positivo para mim.

[2019-03-21 20:17] vitorandos opened #8 "Adição de código de conduta"
Formulação e adição de código de conduta conforme os valores da equipe.

### Tasks:
- [x] Análise dos códigos de conduta providos pelo GitHub
- [x] Discussão entre a equipe
- [x] Definição do código de conduta e adição ao projeto

[2019-03-22 00:35] joaovitor3 opened #10 "Treinamento de Python"
Realizar treinamento de python através de vídeo-aulas e cursos online.

Alguns cursos e vídeo aulas recomendados, caso achem algum outro curso ou recurso interessante sintam-se a vontade em comentar a issue com esses :
- [x] [google python class](https://developers.google.com/edu/python/)
- [x] [Vídeo aula com conceitos introdutórios sobre python](https://www.youtube.com/watch?v=f79MRyMsjrQ)
- [x]

[2019-03-22 01:40] ghost commented on #10
Estudos sobre conceitos introdutórios da linguagem Python durante a tarde/noite

[2019-03-22 02:39] caiovfernandes commented on #10
Estudando Python.
Documentando aqui: [https://www.notion.so/043704bc30314b018a80db4d650b8438?v=d74d749e4c754f089db1ccffca20d467](url)

[2019-03-22 11:11] ErickGiffoni commented on #10
Já tenho um certo conhecimento em Python, pois já trabalhei um pouco com a linguagem. Inclusive tenho um script interativo de minha autoria para ensinar o básico de Python. Pretendo revisar em breve.

[2019-03-22 11:13] ErickGiffoni commented on #4
O treinamento já foi realizado pelos EPS's. Há algo mais ?

[2019-03-22 11:14] ErickGiffoni commented on #3
Terminando o tópico 2 .
22/03/2019 - 8:14h

[2019-03-22 13:31] ErickGiffoni commented on #3
Revisão dos tópicos 1 e 2 e complementação do subtópico 2.3 . Notem que ao longo do documento existe a "tag" $nome , que deve ser substituída quando decidirmos o nome oficial do nosso ChatOps.
22/03/2019 - 10:31h

[2019-03-22 13:35] vitorandos commented on #4
O treinamento foi realizado no dia 19 de março de 2019, presencialmente, cumprindo todas as tarefas.

Todos os materias utilizados, bem como links úteis, podem ser encontrados no link: https://drive.google.com/drive/folders/1vR3oC5eAWG1b5NxXzyS6lTgtRE-Es1hS?usp=sharing

[2019-03-22 13:43] guilherme-mendes commented on #10
Finalizado o estudo de Python recomendado.
Indico esse material para complementar os estudos.
[Python - Escreva seus primeiros programas.pdf](https://github.com/fga-eps-mds/2019.1-Grupo-3/files/2996686/Python.-.Escreva.seus.primeiros.programas.pdf)

[2019-03-22 13:47] vitorandos opened #11 "Pré-treinamento de conceitos do SCRUM"
Realizar treinamento de SCRUM, apresentando seus conceitos e práticas.

### Tasks:
- [x] Pesquisa sobre os conceitos
- [x] Formulação do treinamento
- [x] Apresentação à equipe

### Critérios de aceitação

- [x] Compreensão da equipe, sobretudo da equipe de MDS, dos conceitos apresentados.

[2019-03-22 13:49] vitorandos commented on #11
Treinamento realizado, completando todas as tarefas.

Seu material pode ser encontrado em: https://drive.google.com/open?id=1aPvI1oVxbTaBX4EvXegdubzz6d2kF1Dd

[2019-03-22 13:54] vitorandos commented on #1
Havíamos discutido sobre não colocar os critérios de aceitação no template já que nem sempre eles estariam definidos no momento de criação da issue. Contudo, levando em conta algumas das issues criadas, acredito que seja importante recolocá-lo, apontando este caso de exceção em que, portanto, os critérios seriam adicionados pelo PO em um comentário.

[2019-03-22 18:34] sudjoao commented on #10
Estudando Python a partir do livro "Python: Guia prático do básico ao avançado" por F. V. C. Santos, Rafael.

[2019-03-24 12:48] vitorandos commented on #7
Critérios de aceitação:
- [ ] Template estar adequado às necessidades do projeto.

[2019-03-24 12:50] vitorandos commented on #6
Critérios de aceitação:
- [x] Template de commits coerente ao projeto, permitindo rastreamento do commit para sua issue correspondente.

[2019-03-24 12:53] vitorandos commented on #7
Critérios de aceitação:
- [x] Template estar adequado às necessidades do projeto.

[2019-03-24 16:31] vitorandos opened #13 "Criação do Guia de Contribuição"
Consiste em pesquisar guias de contribuição existentes e construir um adequado a nosso projeto.

### Tasks:
- [x] Pesquisar guias de contribuição
- [x] Construção do guia do projeto

### Critérios de aceitação
- [x] Guia adequado ao projeto
- [x] Aprovação do grupo

[2019-03-24 19:53] ErickGiffoni opened #15 "Elaborar o documento de arquitetura de software"
Elaborar o documento de arquitetura de software até sexta-feira ( 29/03/2019 ).

### Tasks:
- [x] Elaborar arquitetura (diferentes visões)
- [x] Definir tecnologias iniciais

[2019-03-24 20:07] ErickGiffoni commented on #15
O Documento já foi iniciado.

[2019-03-24 20:19] ErickGiffoni opened #16 "Refatorar e revisar o documento de visão"
Refatorar e revisar o documento de visão

### Tasks:

- [x] Task 1 - Escrever nos tópicos em branco
- [x] Task 2 - Revisar o documento
- [x] Task 3 - Editar histórico de revisão

## Estimate
4 pontos.
## Critérios de aceitação

- [x] Documento revisado pelos MDS's e pelos EPS's
- [x] Documento preenchido por completo

[2019-03-24 20:30] ErickGiffoni opened #17 "Definir a personalidade e o nome do nosso ChatOps"
Definir a personalidade e o nome do nosso ChatOps.
É interessante que a personalidade e o nome façam sentido ao tema do projeto.

### Tasks:
- [x] Task 1 - Pesquisar sobre personalidades
- [x] Task 2 - Escolher uma personalidade
- [x] Task 3 - Sugerir nomes
- [x] Task 4 - Escolher um dos nomes
- [x] Task 5 - Definir identidade visual do bot

## Critérios de aceitação

- [x] Entrega no prazo
- [x]

[2019-03-24 20:35] ErickGiffoni opened #18 "Escolher uma licença para o nosso software"
Escolher uma licença para o nosso software

## Descrição da Issue
[Vide opções de licença](https://choosealicense.com/licenses/)
### Tasks:
- [x] Task 1 - Ler sobre as licenças
- [x] Task 2 - Escolher uma licença

## Critérios de aceitação
- [x] Todos de acordo

[2019-03-24 22:11] guilherme-mendes commented on #10
Python Orientado a Objetos.
https://www.youtube.com/watch?v=ZDa-Z5JzLYM&list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc

[2019-03-24 22:29] ateldyfilho opened #19 "Elaboração de Rich Pictures"
## Elaboração de Rich Pictures

## Descrição da Issue
Cada MDS's deve elaborar um rich picture sobre o projeto a ser desenvolvido

### Tasks:
- [x] Rich picture 1
- [x] Rich picture 2
- [x] Rich picture 3
- [x] Rich picture 4
- [x] Rich picture 5

[2019-03-24 22:37] vitorandos commented on #10
A lição 11 desse tutorial fala um pouco sobre classes em Python https://www.codecademy.com/learn/learn-python

[2019-03-24 22:44] ateldyfilho opened #20 "Definir Modelo de Negócios - Canvas"
## Descrição da Issue
Desenvolver um plano de negócios no modelo Canvas para o planejamento estratégico do projeto.

### Tasks:
- [x] Estudar modelos de Canvas para servirem como molde para o plano
- [x] Contextualizar para o projeto
- [x] Desenvolver o modelo

[2019-03-24 22:51] ateldyfilho opened #21 "Criar documento de Gitflow"
## Descrição da Issue
Criação do documento para orientar o funcionamento do fluxo do git

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Criar documento do Gitflow
- [x] Criar diagramas do Gitflow

[2019-03-24 23:25] ErickGiffoni commented on #10
Esse link que o @guilherme-mendes  postou do youtube é muito bom! O rapaz explica bem e numa velocidade boa.

[2019-03-24 23:26] ateldyfilho opened #22 "Elaborar a Estrutura Analítica de Projeto (EAP)"
## Descrição da Issue
Criar documento para EAP

### Tasks:
- [x] Idealizar e elaborar documento
- [x] Adicionar a representação esquemática ao repositório

[2019-03-24 23:27] ErickGiffoni commented on #10
Pessoal, recomendo o seguinte livro para aprender Orientação a objetos em Python : Introdução à orientação a objetos com C++ e Python; Orlando Saraiva Jr.; Novatec, 2017

[2019-03-24 23:36] ateldyfilho opened #23 "Elaborar README"
## Descrição da Issue
Elaborar README com detalhes do projeto.

### Tasks:
- [x] Adicionar detalhes do projeto no documento README.md

[2019-03-24 23:50] ateldyfilho opened #24 "Redigir reunião/entrevista com clientes"
## Descrição da Issue
Redigir documento relatando os principais pontos discutidos na reunião com clientes sobre o software a ser desenvolvido.

### Tasks:
- [x] Descrever problema chave
- [x] Descrever subproblemas
- [x] Descrever funcionalidades

[2019-03-25 00:10] ateldyfilho opened #25 "Elaborar Escopo do projeto"
## Descrição da Issue
Elaboração do documento de escopo do projeto com o detalhamento de todo o trabalho necessário para entregar o produto final dentro das expectativas do cliente.

### Tasks:
- [x] Estudar o que deve ser entregue
- [x] Fazer uma representação esquemática

[2019-03-25 00:22] ateldyfilho opened #26 "Criar página no GitHub Pages"
## Descrição da Issue
Criação de página no GitHub Pages para disponibilizar documentos do projeto.

### Tasks:
- [x] Criar página no gitHub Pages
- [x] Verificar se não há problemas

[2019-03-25 00:28] ateldyfilho opened #27 "Elaborar Plano de Comunicação"
## Descrição da Issue
Elaboração do Plano de Comunicação, que tem como objetivo evidenciar a comunicação interna da equipe.

### Tasks:
- [x] Estudar os meios de comunicação que estão e serão usados pela equipe do projeto
- [x] Destacar ferramentas usadas no documento
- [x] Destacar rituais que serão feitos no documento

[2019-03-25 11:18] caiovfernandes commented on #10
Estudando Python POO
Documentando aqui: [https://www.notion.so/Python-POO-28c9845576f1449289c9fbc1cb8cf7b4](url)

[2019-03-25 14:40] ErickGiffoni commented on #16
Documento de visão, subtópico 4.4 Custo e Precificação -
acredito que nós de MDS não sabemos definir isso. Portanto sugiro deixar esse subtópico sob a responsabilidade dos EPS's.

[2019-03-25 14:40] ErickGiffoni commented on #16
Documento revisado 👍

[2019-03-25 17:55] ErickGiffoni commented on #19
Rich picture realizada com sucesso.
25/03/2019 - 14:55h

[2019-03-25 22:09] ghost commented on #19
Rich picture feita e adicionada ao drive!
25/03/2019 - 19:09h

[2019-03-26 01:07] guilherme-mendes opened #28 "Links úteis para o projeto"
## Links úteis para o projeto

## Descrição da Issue
Adição de conteúdos relevantes que podem auxiliar a equipe no desenvolvimento do projeto.

### Tasks:
- [x] Destacar links com sua devida descrição

[2019-03-26 01:09] guilherme-mendes commented on #28
Estudo sobre boas práticas de ChatBots.
https://github.com/lappis-unb/tais/wiki/Estudo-sobre-melhores-pr%C3%A1ticas-de-bots#refer%C3%AAncias-bibliogr%C3%A1ficas

[2019-03-26 01:11] guilherme-mendes commented on #28
Uma coleção de coisas incríveis sobre o ChatOps.
https://github.com/exAspArk/awesome-chatops

[2019-03-26 03:08] joaovitor3 commented on #26
Página no github pages criada utilizando o docsify.

Faltam apenas colocarmos alguma imagem do produto na landing page e definirmos os tópicos da sidebar

[2019-03-26 14:38] ErickGiffoni opened #29 "Definir e fazer a identidade visual do ChatOps"
Definir e fazer a identidade visual do ChatOps

## Descrição da Issue
Links úteis:
https://dribbble.com/
https://fonts.google.com/
http://bradfrost.com/blog/post/atomic-web-design/
https://color.adobe.com/pt/
https://material.io/color/#!/
https://hipsters.tech/microservicos-hipsters-17/
https://hipsters.tech/microservicos-hipsters-17/

### Tasks:
- [x] Task 1 - Pesquisar sobre identidades visuais

[2019-03-26 15:41] ErickGiffoni commented on #19
Picture adicionada ao drive do grupo.
26/03/2019 - 12:41

[2019-03-26 15:57] caiovfernandes commented on #19
Picture foi adicionada ao Drive
26/03/2019 - 07:30AM

[2019-03-26 16:16] #26 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-26 16:20] #13 closed, assigned to vitorandos

[2019-03-26 16:30] ateldyfilho opened #30 "Elaborar Termo de Abertura do Projeto (TAP)"
## Descrição da Issue
Elaboração do documento de Termo de Abertura do Projeto (TAP)

### Tasks:
- Estudar o contexto do projeto
- Elaborar o documento

[2019-03-26 17:43] joaovitor3 opened #32 "Treinamento de flask"
Realizar treinamento de flask através de vídeo-aulas e cursos online.

Alguns cursos e vídeo aulas recomendados, caso achem algum outro curso ou recurso interessante sintam-se a vontade em comentar a issue com esses :
- [x] [Playlist com conceitos introdutórios sobre flask](https://www.youtube.com/playlist?list=PL3BqW_m3m6a05ALSBW02qDXmfDKIip2KX)
- [x] [Tutorial da documentação oficial do flask](h

[2019-03-26 17:45] ErickGiffoni commented on #18
Escolhendo uma licença :

1.  Sobre a [GNU General Public License v3.0](https://choosealicense.com/licenses/gpl-3.0/) :

- Não gostei do seguintes itens :
    - State Changes - changes to the code MUST be documented.
    - Private use - this software may be used and modified in private
    - Network use is distribution
 Users who interact with the software via network are given the right to receiv

[2019-03-26 17:56] #30 closed, assigned to ateldyfilho, vitorandos

[2019-03-26 17:57] ErickGiffoni commented on #18
Minha conclusão e escolha é : [Universal Permissive License v1.0](https://choosealicense.com/licenses/upl-1.0/)

[2019-03-26 18:02] vitorandos commented on #18
Erick, por que, na sua opinião, Diclosure Source, Same license e State changes seriam aspectos negativos de uma licença?

[2019-03-26 18:15] ErickGiffoni commented on #18
Disclose source : o código fonte precisa estar disponível ao disponibilizar o software .
- Se por alguma ocasião qualquer não pudermos ou não quisermos mais disponibilizar o código fonte, não teremos essa opção, porque a licença nos prende nesse aspecto.

Same License : modificações devem estar na mesma licença ao distribuir o software.
- Digamos que certa parte do software nós queiramos deixar li

[2019-03-26 19:19] vitorandos commented on #24
Critérios de aceitação:
- [x] Todas tasks concluídas
- [x] Conteúdo inteligível

[2019-03-27 01:39] vitorandos commented on #18
Pera, não entendi o raciocínio. Acredito que você está pensando muito no _talvez, algum dia, bem hipotético_, decidirmos tornar o projeto privado ou alguma parte dele.

Contudo, você está esquecendo que nesse meio tempo qualquer pessoa pode fazê-lo. Por exemplo, qualquer pessoa poderia copiar o projeto, produzir algo utilizando-o, e ela não precisaria colocar a mesma licença que nós.

Além disso,

[2019-03-27 01:40] #24 closed, assigned to vitorandos

[2019-03-27 01:51] vitorandos commented on #16
Pessoal, como eu havia comentado, seria interessante colocar a tabela "O problema de/Cujo impacto é/Afeta/Uma boa solução seria" na descrição do problema. O 5W2H é uma ferramenta muito importante mas ela traz muito mais dos objetivos que uma visão do problema em si. Acrescentar essa tabela permitiria uma perspectiva completa.

[2019-03-27 14:26] ErickGiffoni commented on #28
Projeto Bot do Lappis : https://github.com/lappis-unb/rasa-ptbr-boilerplate

Rasa Docs : https://rasa.com/docs/nlu/master/customcomponents/

[2019-03-27 14:41] ErickGiffoni commented on #28
Link do webinar de hoje sobre Rasa : https://www.youtube.com/watch?v=zL8zCbmfLwM&feature=youtu.be

[2019-03-27 17:48] #27 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-27 18:10] ErickGiffoni commented on #17
Nomes de ser humano para o bot :
- Alfred , o Bat Bot
- Morgam Freeman Bot
-
-

[2019-03-27 18:14] joaovitor3 commented on #17
- Turing
- Ada

[2019-03-27 18:20] #1 closed, assigned to joaovitor3

[2019-03-27 18:20] #2 closed, assigned to joaovitor3, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-27 18:20] #3 closed, assigned to ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-27 18:20] #4 closed, assigned to vitorandos, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-27 18:20] #6 closed, assigned to BrunoOliveiraDantas

[2019-03-27 18:20] #7 closed, assigned to BrunoOliveiraDantas

[2019-03-27 18:20] #8 closed, assigned to vitorandos

[2019-03-27 18:20] #11 closed, assigned to vitorandos

[2019-03-27 18:22] ErickGiffoni commented on #17
Talvez Ada fique top. Nunca vi bot feminino, ainda mais com o nome da primeira mulher programadora. Maneiro

[2019-03-27 18:31] ghost commented on #17
SHEILA - System Human Eclectic Interactive Listening Assistant
ADA - Automatic Development Assistant

[2019-03-27 18:54] caiovfernandes commented on #28
Tutorial inicial para o Rasa: [``](https://rasa.com/docs/get_started_step1/)

[2019-03-27 18:54] caiovfernandes commented on #28
Tutorial inicial para o Rasa: [https://rasa.com/docs/get_started_step1/](url)

[2019-03-27 22:56] caiovfernandes commented on #16
Tabela  "O problema de/Cujo impacto é/Afeta/Uma boa solução seria" adicionada por mim e @guilherme-mendes.

[2019-03-28 01:31] #18 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-28 15:01] caiovfernandes commented on #28
Introdução à Microserviços: [https://www.thoughtworks.com/pt/insights/blog/microservices-nutshell](url)
Introdução à Flask: http://pythonclub.com.br/what-the-flask-pt-1-introducao-ao-desenvolvimento-web-com-python.html#o_que_e_flask
Introdução ao React: https://reactjs.org/tutorial/tutorial.html#what-is-react

[2019-03-28 15:57] ghost commented on #16
Pull request realizado e aceito.

[2019-03-28 16:29] #16 closed, assigned to ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-28 17:04] ErickGiffoni commented on #15
Pessoal, estou trabalhando no documento de arquitetura nesse momento. Como eu havia comentado antes, cuidado ao escrever qualquer um dos nossos documentos para não utilizar verbos no tempo futuro. Sei que o software não está pronto, ainda, mas temos que pensar que esses documentos devem passar confiança e esclarecimento sobre a ADA, então usem o tempo presente nos verbos.
#### Isso serve para qual

[2019-03-28 17:27] ErickGiffoni commented on #15
Problema : não consigo fazer o download da representação da arquitetura para adicionar essa imagem ao documento.
<img width="636" alt="Captura de Tela 2019-03-28 às 14 26 18" src="https://user-images.githubusercontent.com/33759461/55179107-8e275580-5165-11e9-880d-87c82fa4eaa8.png">

[2019-03-28 17:41] ErickGiffoni commented on #15
@BrunoOliveiraDantas , com relação à arquitetura: a API do gitHub que vamos usar é essa aqui ?
[GitHub Rest API v3](https://developer.github.com/v3/)

[2019-03-28 17:46] ErickGiffoni commented on #15
@BrunoOliveiraDantas , com relação à arquitetura: a API do Telegram que vamos usar é essa aqui ?
[Telegram Bot API](https://core.telegram.org/api#bot-api)

[2019-03-28 18:11] ErickGiffoni commented on #15
Pessoal, quais serão as ferramentas de integração contínua e de Deploy ?

[2019-03-28 18:46] BrunoOliveiraDantas commented on #15
Nós ainda não decidimos qual API do Github utilizar, estamos avaliando ainda.
Já a do Telegram iremos utilizar essa mesmo (Telegram Bot API). Sobre as ferramentas de integração contínua e de Deploy estamos esperando mais respostas no (https://forms.gle/x4dGRcvHbACAePX89), para avaliarmos quais são as ferramentas mais utilizadas por desenvolvedores.

[2019-03-28 18:50] BrunoOliveiraDantas commented on #15
@ErickGiffoni  sobre o problema no download, é necessário entra no arquivo editável e fazer o  "export as "como imagem (PNG, JPG...).

[2019-03-28 20:28] vitorandos commented on #29
### Critérios de aceitação
- [x] Paleta de cores definida e condizente ao contexto
- [x] Tipografia inicial definida e condizente ao contexto

[2019-03-28 20:28] vitorandos commented on #25
### Critérios de aceitação
- [x] Documento que apresente uma visão de alto nível do escopo do projeto

[2019-03-28 20:32] vitorandos commented on #23
### Critérios de aceitação
- [x] Apresentação do projeto
- [x] Principais funcionalidades
- [x] Referência ao guia de contribuição inicial, ao código de conduta e à licença do projeto

[2019-03-28 20:33] vitorandos commented on #22
### Critérios de aceitação
- [x] EAP contendo 100% do conjunto de trabalho do escopo do projeto
- [x] EAP seguindo as regras definidas nos livros PMBOK e Practice Standard for Work Breakdown Structures

[2019-03-28 20:37] vitorandos commented on #20
### Critérios de avaliação
- [x] CANVAS claro e conciso
- [ ] Ênfases racional e "emocional" bem definidas
- [x] Proposta de Valor bem definida

[2019-03-28 20:41] vitorandos commented on #19
### Critérios de aceitação
- [x] Rich picture clara segundo o escopo do projeto

[2019-03-28 20:52] vitorandos commented on #15
### Critérios de aceitação
- [x] Visão inicial e de alto nível da arquitetura
- [x] Definição de tecnologias

[2019-03-28 22:01] vitorandos commented on #21
### Critérios de aceitação
- [x] Fluxo de trabalho definido bem como uma visão inicial de seus estágios
- [ ] Tecnologias iniciais definidas

[2019-03-28 22:37] sudjoao commented on #29
Precisamos definir a ilustração do bot já ou apenas achar uma base para utilizar e definir certinho como será feito depois?

[2019-03-29 00:35] guilherme-mendes commented on #19
Rich picture concluída e adicionada ao [Drive](https://drive.google.com/drive/folders/1ToHs6qQf1RqhZi4eZNUSKZi5c5ZmeJju).
28/03/2019 - 21:34

[2019-03-29 00:43] sudjoao commented on #19
Rich picture feita e adicionada ao Drive
28/03/2019 - 21:40

[2019-03-29 02:00] #19 closed, assigned to ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-29 02:17] sudjoao commented on #29
Tipografias e paleta de cores já definidas e, inicialmente, colocadas no drive.

[2019-03-29 13:39] caiovfernandes commented on #28
Bot's no Telegram: [https://core.telegram.org/bots](url)

[2019-03-29 14:14] ErickGiffoni commented on #32
Aula 1 -

Tive um erro ao rodar o arquivo app.py pela terceira vez : deu um Traceback e falou que o endereço local já existia e já estava em uso...

self.socket.bind(self.server_address)
OSError: [Errno 48] Address already in use

Como contornar isso ?﻿

[2019-03-29 14:21] joaovitor3 commented on #32
@ErickGiffoni
Esse erro provavelmente é porque você já está usando a porta que quer rodar o app.py.
Tenta ver os processos ativos pelo terminal e mate os que estiverem na mesma porta que o flask usa(5000 se não me engano) .

Esse link pode ser útil:
https://stackoverflow.com/questions/19071512/socket-error-errno-48-address-already-in-use

[2019-03-29 14:21] ErickGiffoni commented on #32
Já consegui. [solução aqui](https://stackoverflow.com/questions/19071512/socket-error-errno-48-address-already-in-use/19071568#19071568)

[2019-03-29 14:21] ErickGiffoni commented on #32
Isso mesmo, mano @joaovitor3 , valeu !

[2019-03-29 15:06] ErickGiffoni commented on #15
Achei um template legal : https://c4model.com

[2019-03-29 18:37] ateldyfilho opened #40 "Criar documentos de Planejamento e Resultados da Sprint 0"
## Descrição da Issue
Criação dos documentos de Planejamento e Resultados da Sprint 0

### Tasks:
- [x] Planejamento sprint 0
- [x] Resultados sprint 0
- [x] Subir no GHPages

### Critérios de aceitação
- [x] Planejamento condizente
- [x] Resultados condizente
- [x] Está no GHPages

[2019-03-29 18:40] ateldyfilho opened #41 "Criar o Documento de Planejamento da Sprint 1"
## Descrição da Issue
Criação do documento de Planejamento da Sprint 1

### Tasks:
- [x] Planejamento sprint 1
- [x] Subir no GHPages

### Critérios de aceitação
- [x] Planejamento condizente
- [x] Está no GHPages

[2019-03-29 20:27] guilherme-mendes commented on #15
Representação da arquitetura concluída e adicionada ao documento de arquitetura.

[2019-03-29 22:49] #40 closed, assigned to ateldyfilho

[2019-03-29 22:57] sudjoao commented on #15
Produzindo o diagrama de empacotamento do projeto.

[2019-03-29 23:18] #10 closed, assigned to nobody

[2019-03-29 23:22] #41 closed, assigned to ateldyfilho

[2019-03-29 23:41] joaovitor3 commented on #22
Aceita o Pull request com links para imagens de maior tamanho.

[2019-03-29 23:42] #22 closed, assigned to ateldyfilho, vitorandos

[2019-03-29 23:54] joaovitor3 commented on #20
Pull request aceito com adição de links para maiores imagens

[2019-03-29 23:55] #20 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-30 00:26] guilherme-mendes commented on #15
Representação de arquitetura alterado de acordo com as tecnologias de integração contínua e deploy.

[2019-03-30 00:52] #23 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-30 01:57] #17 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-30 02:35] #21 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-30 14:42] BrunoOliveiraDantas commented on #29
Paleta de cores definida pelo grupo
[palette.pdf](https://github.com/fga-eps-mds/2019.1-Grupo-3/files/3025595/palette.pdf)

[2019-03-30 14:43] BrunoOliveiraDantas commented on #29
Rascunho inicial da logo

![image](https://user-images.githubusercontent.com/22121504/55277600-f5b5e000-52e0-11e9-972d-3278e95befd7.png)

[2019-03-30 17:13] #15 closed, assigned to ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-03-30 17:14] #25 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-03-30 17:19] joaovitor3 opened #50 "Criar Documento de Resultados da Sprint 1"
## Descrição da Issue
Criação do Documento de Resultados da Sprint 1

[2019-03-31 16:09] ateldyfilho opened #52 "DS01- Eu, como desenvolvedor, quero que todo o ambiente de desenvolvimento da Ada esteja uniformizado para padronizar o desenvolvimento."
## Descrição da Issue

O ambiente de desenvolvimento da Ada deve está uniformizado para padronizar o desenvolvimento utilizando o Docker, contendo todos os comandos que o responsável pelo DevOps possa chamar na linha de comando, para montar uma imagem para disponibilizar o ambiente de desenvolvimento do projeto.

### Tarefas

- [x] Montar o Dockerfile para o ambiente do projeto

[2019-03-31 16:09] ateldyfilho commented on #52
@vitorandos critérios de aceitação;
@joaovitor3 tasks

[2019-03-31 16:37] ateldyfilho opened #53 "DS03 - Eu, como desenvolvedor, quero que todo o ambiente de desenvolvimento do Monitoramento da integração contínua para padronizar o desenvolvimento."
## Descrição da Issue
Essa issue refere-se à criação do CI para o desenvolvimento.

[2019-03-31 16:38] ateldyfilho commented on #53
@joaovitor3 descrever tasks;

[2019-03-31 16:42] ateldyfilho opened #54 "DS02 - Eu, como desenvolvedor, quero criar um banco de dados que guarde informações do Telegram para conseguir comunicação estável com a Ada."
## Descrição da Issue

Criar um banco de dados que guarde informações do Telegram para conseguir comunicação estável com a Ada com banco escolhido, MongoDB, orientado a documentos.

### Tasks:
- [x] Modelar Banco de dados da aplicação

[2019-03-31 16:42] ateldyfilho commented on #54
@vitorandos definir critérios de aceitação;

[2019-03-31 16:43] ErickGiffoni commented on #54
Iniciados os estudos em MongoDB

[2019-03-31 16:47] ateldyfilho opened #55 "DS05 - Eu, como desenvolvedor, desejo criar um protótipo da Ada, para compreender melhor suas interações e interface."
## Descrição da Issue
Criar protótipo de alta fidelidade para representar a interação do usuário com a ADA.

### Tasks:
- [x] Utilizar ferramenta adequada para criação de protótipos de Bot.
- [x] Aplicar personalidade da ADA nos textos.
- [x] Criar um ou mais fluxos de conversa.

[2019-03-31 16:48] ErickGiffoni commented on #54
As informações do Telegram são a respeito do usuário e são passadas ao banco de dados via Telegram API , certo ?
Imagino então que precisamos implementar a classe User do Diagrama de Classes, tópico 5.1 do documento de arquitetura.
Como pegar as informações via Telegram API e passar para o banco ?

[2019-03-31 16:58] ateldyfilho opened #56 "DS11 - Eu, como desenvolvedor, quero conectar o Rasa ao Telegram para que a Ada possa conversar com o usuário."
## Descrição da Issue
Fazer conexão do Rasa ao Telegram para que a Ada possa conversar com o usuário.

### Tasks:
- [x] Estabelecer a conexão do Rasa ao Telegram

[2019-03-31 16:58] ateldyfilho commented on #56
@vitorandos descrever critérios de aceitação.

[2019-03-31 17:44] ateldyfilho opened #57 "Treinamento de Docker"
## Descrição
Fazer um treinamento para a equipe de MDS de como utilizar a ferramenta Docker.
### Tasks
- [x] Idealizar a apresentação
- [x] Apresentar o Docker
- [x] Ensinar comandos mais utilizados

[2019-03-31 17:54] ateldyfilho opened #58 "Planejamento de Risco"
## Descrição da Issue
Criação do documento de Planejamento de riscos do projeto.

### Tasks:
- [x] Identificação de riscos
- [x] Documento de e Planejamento de Riscos

[2019-03-31 18:00] ateldyfilho opened #59 "Evolução do GitFlow"
## Descrição da Issue
Evolução do documento para orientar o funcionamento do fluxo do git

### Tasks:
- [x] Evolução do documento de Gitflow

[2019-03-31 18:08] ateldyfilho opened #60 "Evolução do Documento de Arquitetura"
## Descrição da Issue
Evoluir documento de arquitetura com as considerações discutidas na _Sprint Review_.

### Tasks:
- [x] Elaborar tópicos incompletos ou faltantes
- [x] Disponibilizar no GH-Pages

[2019-03-31 18:14] ateldyfilho opened #61 "Criar Roadmap do Produto"
## Descrição da Issue
Roadmap é uma ferramenta visual e descritiva com o intuito de mapear como será o produto em cada evolução.

### Tasks:

- [x] Estudar o contexto geral do produto
- [x] Organizar as atividades por Sprint

[2019-03-31 18:20] ateldyfilho opened #62 "Criar Roadmap dos papéis"
## Descrição
Criação dos roadmaps para cada função de gerenciamento
### Tasks
- [x] Criar Roadmap do DevOps
- [x] Criar Roadmap do Product Owner
- [x] Criar roadmap do Scrum Master
- [x] Criar roadmap do Arquiteto

[2019-03-31 18:25] ateldyfilho opened #63 "Criar Documento de Planejamento da Sprint 2"
## Descrição da Issue
Criação do documento de planejamento da sprint 2

### Tasks:
- [x] Planejamento da sprint 2
- [x] Subir no GH-Pages

[2019-03-31 18:29] vitorandos commented on #62
### Critérios de aceitação
- [x] Todos os roadmaps criados
- [x] O planejamento do roadmap de cada papel permite a entrega das funcionalidades alocadas no roadmap do produto cada qual em seu determinado tempo

[2019-03-31 18:31] vitorandos commented on #61
### Critérios de aceitação
- [x] Roadmap apresenta planejamento de alto nível
- [x] Roadmap apresenta qualidades conforme planejado para cada release

[2019-03-31 18:40] vitorandos commented on #55
### Critérios de aceitação
- [x] Protótipo seguindo a personalidade e identidade do bot
- [x] Protótipo apresenta como funciona a interação Ada x Usuário (pelo menos um fluxo de conversa, sendo pelo menos um deles relaciona à integração contínua).

[2019-03-31 18:40] vitorandos commented on #55
Link interessante para a construção do protótipo: http://www.uxness.in/2017/11/designing-chatbot-ux-process.html

[2019-03-31 18:42] vitorandos commented on #58
### Critérios de aceitação
- [x] Para cada risco deve haver uma reação definida
- [x] Todos os riscos devem estar pontuados

[2019-03-31 18:48] vitorandos commented on #54
Sim, a classe User será necessária.

[2019-03-31 18:51] ErickGiffoni commented on #54
O database deve ser MongoDB e deve ser orientado a documentos. Isso significa que devemos utilizar a [mongoengine](http://mongoengine.org/) ?

[2019-03-31 19:02] ErickGiffoni commented on #60
@todos , o diagrama da classe User do tópico 5.1 do Documento está finalizado ? Já posso implementar ??

[2019-03-31 20:20] ErickGiffoni commented on #54
Problemas : estou fazendo alguns códigos teste para conectar um programa a um banco de dados mongo , utilizando mongoengine nos programas.
Os programas funcionam, eles executam sem problemas.
Ai eu abro o app [Robo 3T](https://robomongo.org/download) , mas nao consigo fazer uma conexao localhost , e tenho o erro :

Cannot connect to the MongoDB at localhost:27017. Error: Network is unreachable

Na

[2019-03-31 20:35] ErickGiffoni commented on #54
Códigos do referido acima :

program.py -> programa principal

`import User
import mongo_setup

mongo_setup.initialize_mongo_connection()

batata = User

batata.name = input("name ? ")

print("name is " + str(batata.name))`

User.py -> classe usuário

`import mongoengine

class User(mongoengine.Document):
       name = mongoengine.StringField()`

mongo_setup.py -> inicializa o mongo db

`import mo

[2019-04-01 00:21] #50 closed, assigned to ateldyfilho

[2019-04-01 00:26] caiovfernandes commented on #54
Erick, tente configurar seu ambiente mongo e subir o servidor local antes de tentar uma conexão no Robo3T.
Para configurar o mongo use o seguinte comando: `mongod --config /usr/local/etc/mongod.conf`
Depois, suba  o servidor inserindo o comando: `mongo`

[2019-04-01 01:17] caiovfernandes commented on #54
Se não conseguir utilizando os passos acima provavelmente foi porque você não criou a pasta **data/db,** que é onde os arquivos do mongo são salvos.
Crie a pasta com o seguinde comando: `sudo mkdir -p /data/db`
Depois dê permissão para que o mongo possa acessá-la: `sudo chown -R  ` id -un `  /data/db`

Após essas configurações suba  o **Mongo daemon** utilizando o comando `mongod` para subir o ser

[2019-04-01 01:25] guilherme-mendes commented on #56
Repositórios que ajudam na resolução da issue:
Awesome ChatOps - https://github.com/exAspArk/awesome-chatops
Chatops Lappis - https://github.com/lappis-unb/chatops

[2019-04-01 01:37] ghost commented on #56
Link que ajuda a entender a relação entre Rasa, Telegram e Flask na criação do Bot:
https://www.xfgeek.com/view-xfgeek-blog?title=Building-AI-chatbot-using-Rasa-NLU%2C-Flask-and-Telegram

[2019-04-01 04:00] #63 closed, assigned to ateldyfilho

[2019-04-01 13:09] caiovfernandes commented on #54
**Links úteis** para o desenvolvimento da issue:

1. Python-telegram-bot: [https://github.com/python-telegram-bot/python-telegram-bot](url)

2. Telegram BOT API:  [https://core.telegram.org/bots/api#authorizing-your-bot](url)

3. Bots: An introduction for developers: [https://core.telegram.org/bots#botfather](url)

4. Youtube channel for MongoDB: [https://www.youtube.com/user/TechGuyWeb/search?que

[2019-04-01 13:25] caiovfernandes commented on #54
Curso de MongoDB da Udemy finalizado.
Notações que considerei importantes documentei no Notion: [https://www.notion.so/Basics-with-MongoEngine-0756dbe31cfe4ac4b77a25efd123746f](url)

[2019-04-01 13:30] ErickGiffoni commented on #54
Não tá dando pra executar mongo e mongod ao mesmo tempo. Ao fazer mongod em outra aba do terminal, dá um erro :
Failed to set up listener: SocketException: Address already in use

[2019-04-01 15:08] ErickGiffoni commented on #60
@sudjoao , não estou entendendo o diagrama de classes do documento.
Por exemplo, um User tem vários Telegram ?

[2019-04-01 15:50] ErickGiffoni commented on #54
Criei um protótipo da classe User. Devo commitar na branch da história ?

[2019-04-01 15:58] joaovitor3 commented on #54
Sim, você deve fazer como no [gitflow](https://fga-eps-mds.github.io/2019.1-ADA/#/docs/project/gitflow).
Criando a branch a partir da devel com o nome:
2-CriarBancoDeDados, por exemplo e realizar o commit de acordo com o especificado na [política de commits](https://fga-eps-mds.github.io/2019.1-ADA/#/docs/policies/commits)

[2019-04-01 16:04] vitorandos commented on #54
O ideal é que você commit mesmo para que sua dupla de paramento tenha acesso ao código. Não se preocupe em haver mudanças na classe, isso é bem normal nessa fase de desenvolvimento.

[2019-04-01 17:12] vitorandos opened #65 "Elaborar folha de estilo"
Consiste em elaborar a folha de estilo com as orientações e normas para escrita de código.

### Tasks:
- [x] Orientações para nomenclaturas
- [x] Orientações para espaços
- [x] Orientações para expressões e condições
- [x] Orientações para comentários
- [x] Definição de ferramenta de padronização

### Critérios de aceitação
- [x] Todas as tasks cumpridas

[2019-04-01 17:19] sudjoao commented on #60
@ErickGiffoni provavelmente devo ter colocado a relação ao contrário, vou dar uma olhada no diagrama todo e quando estiver pronto te aviso.

[2019-04-01 19:27] ErickGiffoni commented on #54
Não consigo matar essa aplicação/servidor :

lsof -i:27017
COMMAND  PID          USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
mongod  9924 erick.giffoni   10u  IPv4 0xf750e32836181517      0t0  TCP localhost:27017 (LISTEN)

Mesmo com $ sudo kill 9924

Alguma ideia ? Nao consigo achar uma boa solução na internet

[2019-04-01 19:38] caiovfernandes commented on #54
Tenta **control + C**.

[2019-04-02 14:19] vitorandos commented on #57
Além do que foi mostrado pelo João Vítor no treinamento, quem usa Mac ou Windows pode baixar o Docker Destop App em vez de instalá-lo através do terminal.

`https://www.docker.com/products/docker-desktop`

[2019-04-02 14:24] vitorandos commented on #55
Título alterado conforme definido em reunião de EPS.

[2019-04-02 14:26] vitorandos commented on #62
Criem seus roadmaps através da ferramenta Miro no link divulgado no grupo. Criem primeiramente um roadmap por mês e depois por sprint. Acredito que uma estratégia top-down facilitará a elaboração dos roadmaps.

[2019-04-02 14:27] vitorandos commented on #61
Roadmap do produto por mês criado no domingo. Agora, após levantamento do Backlog com equipe de EPS, organizar-lo-ei em sprints. Espero conseguir validá-lo hoje com a professora já que ontem ela não pôde.

[2019-04-02 17:49] ErickGiffoni commented on #54
Pessoal, estou tendo um novo problema. Como não encontro a solução, postei ele no stackverflow. Se alguém souber me ajudar , agradeço.
Post aqui : [https://stackoverflow.com/questions/55480736/mongoengine-connect-how-to-connect-to-another-port-that-is-not-default]()

[2019-04-02 18:41] joaovitor3 commented on #54
Aqui na documentação oficial do mongo tem um exemplo que fala sobre isso:
![image](https://user-images.githubusercontent.com/18130942/55427415-55202400-555d-11e9-990e-0b3d2376dd95.png)
Outro link útil:
- https://stackoverflow.com/questions/15666968/flask-mongoengine-connect-through-uri

[2019-04-02 19:06] ErickGiffoni commented on #54
Não adiantou muito, mas obrigado mano

[2019-04-02 22:33] sudjoao commented on #55
Roteiro e gravação inicial já feitos, após fazer a edição vou verificar se é preciso gravar novamente ou não.

[2019-04-03 01:33] BrunoOliveiraDantas commented on #29
Segunda opção de logo

![Logo_ADA](https://user-images.githubusercontent.com/22121504/55446743-49e9ea00-5597-11e9-9812-01cbc7857cfc.png)

[2019-04-03 01:34] joaovitor3 commented on #32
Novo treinamento realizado nesse [repositório](https://github.com/joaovitor3/treinamento-flask-mongo/tree/master).
No treinamento foram utilizadas as tecnologias:
- Docker
- Mongo
- Flask

Após o treinamento a equipe de MDS deve ser capaz de:
- [x] Realizar registros no banco de dados;
- [x] Realizar buscas na base de dados por algum parâmetro utilizando o flask py mongo.

[2019-04-03 02:38] guilherme-mendes commented on #32
Treinamento concluído! Foram criadas as rotas de busca (método GET) e de registro de usuário (método POST), com as tecnologias citadas.

Resolução do treinamento no seguinte [repositório](https://github.com/joaovitor3/treinamento-flask-mongo/tree/rota_busca_usuario_guilherme).

[2019-04-03 02:45] #65 closed, assigned to joaovitor3

[2019-04-03 02:45] guilherme-mendes commented on #56
Esclarecemos algumas dúvidas com o pessoal do Lappis sobre a conexão do Rasa ao Telegram e docker.

[2019-04-03 12:48] BrunoOliveiraDantas opened #68 "Documentar questionário de preferências de ferramentas"
### Descrição:
Documentar o forms(questionário) que contem as preferências de ferramentas para versionamento de código, integração continua e deploy.

### Tasks:

- [x] Meios de comunicação
- [x] Versionamento
- [x] Integração continua
- [x] Deploy

[2019-04-03 14:20] ErickGiffoni commented on #54
@caiovfernandes , comecei a fazer um programa para pegar os dados do telegram e jogar no banco. Ta dando meio errado. Dá uma olhada, por favor:

connectDataBase.py

[code]

[2019-04-03 14:21] vitorandos commented on #62
Comecei o a ler o livro A estratégia do oceano azul recomendado pela professora para aprimorar o roadmap do PO.

[2019-04-03 14:22] vitorandos commented on #54
Se possível, coloca a mensagem de erro que aparece também.

[2019-04-03 16:34] guilherme-mendes commented on #56
API do Telegram - https://core.telegram.org/bots/api

[2019-04-03 19:33] ErickGiffoni commented on #54
[code]

[2019-04-04 02:02] vitorandos commented on #29
@sudjoao @lucasfcm9 Por favor, adicionem históricos de revisões no topo do documentos que vocês acrescentaram: mais especificamente, personalidade e identidade visual.

[2019-04-04 14:01] ErickGiffoni commented on #54
@grupe , estou tentando testar um código, mas os imports não funcionam.
### Erro : Traceback (most recent call last):
  #### File "data_services/service.py", line 2, in <module>
    from data.Repository import Repository
#### ModuleNotFoundError: No module named 'data'

Alguém pode ajudar? Não encontro a solução na internet e preciso seguir em frente!

[2019-04-04 18:31] guilherme-mendes commented on #56
Primeira conexão com o bot por meio do Telegram realizada.
@lucasfcm9
![Captura de tela de 2019-04-04 15-28-08](https://user-images.githubusercontent.com/37874689/55579462-aa3f6f80-56ee-11e9-8c2a-cd35b77156ee.png)

[2019-04-04 18:38] ghost commented on #56
Exemplo de conversa com o Bot, primeira conexão realizada!
@guilherme-mendes

<img width="992" alt="Captura de Tela 2019-04-04 às 15 36 40" src="https://user-images.githubusercontent.com/40740008/55579857-97796a80-56ef-11e9-967a-ecfff955bff9.png">

[2019-04-04 19:09] guilherme-mendes commented on #56
Utilizamos **ngrok** para realizarmos testes pois para usar o Telegram precisa-se de um servidor com SSL (cadeado verde).
@lucasfcm9

[2019-04-04 20:14] vitorandos opened #72 "Criar e pontuar backlog"
Essa issue consiste em levantar todo o backlog do produto dentro do escopo do projeto, pontuando-o e priorizando-o.

### Tasks:
- [x] Levantamento de Épicos
- [x] Levantamento de Features
- [x] Levantamento de Histórias de Usuário
- [x] Pontuação de Histórias de Usuário
- [x] Priorização de Histórias de Usuário

### Critérios de aceitação
- [x] Backlog coerente ao escopo
- [x] Todas as histórias p

[2019-04-04 20:59] sudjoao commented on #55
Edição feita com sucesso.

[2019-04-05 02:17] #61 closed, assigned to vitorandos

[2019-04-05 04:37] joaovitor3 commented on #57
Foi realizado o treinamento de docker nesse [repositório](https://github.com/joaovitor3/treinamento-flask-mongo).

No treinamento os membros de MDS deviam realizar um post em uma rota e inserir o conteúdo recebido via JSON no banco de dados em mongo através de bibliotecas do flask.
Sendo essas tecnologias utilizadas através de container docker.

[2019-04-05 04:37] #57 closed, assigned to joaovitor3

[2019-04-05 22:32] vitorandos commented on #55
@sudjoao Obrigado pela contribuição! O protótipo precisa de alguns melhoramentos conforme os seguintes pontos:

A segunda mensagem da Ada talvez possa ser aprimorada, a versão atual parece muito dura não despertando tanto interesse. Ainda, ela deveria direcionar o usuário ao que ele deve falar - a mensagem seguinte, "E como funciona isso?" provavelmente não ocorreria em um cenário usual. O mesmo p

[2019-04-06 02:25] #56 closed, assigned to guilherme-mendes

[2019-04-06 02:27] joaovitor3 commented on #52
A branch em que estava trabalhando sofreu merge com as branches de outros pareamentos.
Com isso não será necessário um pull request da branch 1-DockerizaAmbiente para  a devel.
Posso fechar a issue?

[2019-04-06 02:31] joaovitor3 commented on #62
Todos os roadmaps foram feitos.
Podemos fechar a issue?

![roadmaps](https://user-images.githubusercontent.com/18130942/55663862-e6f88d00-57fa-11e9-98be-f34dcca4e9bf.jpg)

[2019-04-06 03:45] ateldyfilho commented on #62
Acredito que sim

[2019-04-06 13:39] ateldyfilho opened #80 "Criar Documento de Resultados da Sprint 2"
## Descrição da Issue
Criação do Documento de Resultados da Sprint 2

[2019-04-06 14:29] BrunoOliveiraDantas opened #81 "Evoluir gh-pages"
Essa issue tem a função de trazer melhorias para a página do gh-pages.

[2019-04-06 14:59] vitorandos commented on #52
Como o realizado nessa Issue já subiu à devel através de outra, fecho-a.

[2019-04-06 14:59] #52 closed, assigned to joaovitor3

[2019-04-06 14:59] #58 closed, assigned to ateldyfilho

[2019-04-06 14:59] #72 closed, assigned to vitorandos

[2019-04-06 15:01] vitorandos commented on #53
Issue realizada junto à DS01.

[2019-04-06 15:01] #53 closed, assigned to joaovitor3

[2019-04-06 15:06] #59 closed, assigned to joaovitor3

[2019-04-06 15:26] #68 closed, assigned to BrunoOliveiraDantas

[2019-04-06 15:26] #62 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas

[2019-04-06 15:29] ateldyfilho opened #84 "Criar o Documento de Planejamento da Sprint 3"
## Descrição da Issue
Criação do documento de Planejamento da Sprint 3

### Tasks:
- [x] Planejamento sprint 3
- [x] Subir no GHPages

### Critérios de aceitação
- [x] Planejamento condizente
- [x] Está no GHPages

[2019-04-06 15:43] sudjoao commented on #55
@vitorandos Muito obrigado pelo feedback, utilizei todas essas dicas e criticas que você deu e, a partir disso, construí a versão 2 do protótipo, você pode encontra-lá aqui: https://imgur.com/a/ehdwCke
Realmente ficou bem melhor do que a versão 1, agora vou fazer o pedido para subir para o GitHub Pages.

[2019-04-06 16:50] #55 closed, assigned to sudjoao

[2019-04-06 16:52] #60 closed, assigned to BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-04-06 17:25] #54 closed, assigned to ErickGiffoni, caiovfernandes

[2019-04-06 18:35] ateldyfilho opened #87 "US04 - Eu, como usuário, desejo ser cumprimentado pela Ada para iniciar uma conversa."
## Descrição da Issue
Eu, como usuário, desejo ser cumprimentado pela Ada para iniciar uma conversa.

### Tasks:

- [x] Elaborar roteiro

### Critérios de aceitação

- [x] Interação condizente com a personalidade da ADA
- [x] Estar em Português Brasileiro

[2019-04-06 18:41] ateldyfilho opened #88 "US26 - Eu, como usuário, desejo me cadastrar com a Ada a partir do GitLab para receber notificações e gerenciar aplicações."
## Descrição da Issue
Eu, como usuário, desejo conseguir pegar informações do pipeline de um repositório específico no GitLab para receber notificações e gerenciar aplicações.

### Tasks:

- [x] Pegar OAUTH token para fazer requisições da API do GitLab
- [x] Estudo da API do gitlab para realizar cadastro de um bot no telegram
- [x] Salvar id do usuário do telegram no banco mongo_telegram e mongo_g

[2019-04-06 18:47] ateldyfilho opened #89 "US10 - Eu, como usuário, desejo saber quais os passos da build para me manter informado do processo."
## Descrição da Issue
Eu, como usuário, desejo saber quais os passos da build para me manter informado do processo.

### Tasks:
- [x] Pegar OAUTH token para fazer requisições da API do GitLab
- [x] Estudo da API do gitlab para realizar cadastro de um bot no telegram

### Critérios de aceitação
- [x] Os passos da build devem estar explícitos
- [x] Interativo
- [x] Está em português brasileiro

[2019-04-06 18:55] ateldyfilho opened #90 "Elaborar Matriz Eliminar-Reduzir-Elevar-Criar"
## Descrição da Issue
Elaboração da Matriz de Avaliação de Valor

### Tasks:
- [x] Estudar estratégia do Oceano Azul
- [x] Estudar a área de negócios do bot
- [x] Levantar padrões  setoriais  e analizá-los

### Critérios de aceitação
- [x] Matriz completa
- [x] Elaboração de uma nova curva de valor

[2019-04-06 19:08] BrunoOliveiraDantas opened #91 "Definir Identidade Visual"
## Descrição da Issue
Evoluir Identidade Visual

### Tasks:
- [x] Criar apresentação de identidade visual
- [x] Logo
- [x] Tipografia
- [x] paleta de cores

[2019-04-06 19:17] ateldyfilho opened #92 "Elaboração do Burndown de Riscos"
## Descrição da Issue
Elaboração do burndown de riscos

### Tasks:

- [x] Estudar Burndown de riscos
- [x] Fazer Documentação
- [x] Fazer Gráfico
- [x] Disponibilizar no GH-Pages

### Critérios de aceitação

- [x] Estar condizente com o projeto

[2019-04-06 19:24] ateldyfilho opened #93 "Treinamento de GitLab/Rasa"
## Descrição da Issue
Fazer treinamento de GitLab/Rasa para MDS

### Tasks:
- [x] MDS conseguir fazer requisições do GitLab usando o OUTH Token
- [x] MDS conseguir subir a aplicação usando docker/Rasa

[2019-04-06 19:26] ateldyfilho opened #94 "Criar Mirror do repositório do GitHub e criar ambiente de testes"
## Descrição da Issue

### Tasks:

- [x] Criar gitlab ci para os dois serviços
- [x] Dockerização do novo repositório
- [x] Realizar testes unitários básicos no novo repositório

[2019-04-06 19:27] ateldyfilho commented on #94
@joaovitor3 Descrever issue e tasks

[2019-04-07 13:00] guilherme-mendes commented on #89
Estudo da API do GitLab
https://docs.gitlab.com/ee/api/

[2019-04-08 18:15] ErickGiffoni commented on #87
Comecei os trabalhos nessa história. Entretanto, acho que para que eu consiga testar as mudanças preciso ter os arquivos feitos pelo @lucasfcm9 e @guilherme-mendes , já que eles que iniciaram o primeiro contato com a ADA via telegram. Dessa forma também saberei quais são os arquivos corretos para que eu efetue as mudanças necessárias para que a ADA possa cumprimentar o usuário e vice-versa. Por fa

[2019-04-08 18:18] joaovitor3 commented on #87
@ErickGiffoni Acho que o guilherme enviou no sábado o .env com essas informações
Mas de qualquer forma vamos ver isso na daily

[2019-04-08 18:19] ErickGiffoni commented on #87
Sim, enviou, mas são só variáveis de ambiente. Preciso dos códigos que funcionam a ADA.

[2019-04-08 18:22] joaovitor3 commented on #87
Acho que essas informações estão aqui no [instructions.md](https://github.com/fga-eps-mds/2019.1-ADA/blob/devel/ada/instructions.md)
Depois disso é só vc dar docker-compose up, que deve funcionar

[2019-04-08 18:39] ErickGiffoni commented on #87
### Links úteis:

- Rasa docs : [https://rasa.com/docs](url)

[2019-04-09 02:51] joaovitor3 opened #97 "Criar novo repositório para serviço do gitlab"
Nessa issue deve ser aberto um novo repositório na organização de eps-mds para a inicialização do código do serviço de conexão com gitlab
### Tasks:
- [x] Criação do repositório na organização de eps-mds
- [x] Padronização do ambiente de desenvolvimento

### Critérios de aceitação
- [x] Criar repositório na organização de eps-mds;
- [x] Adicionar devidos privilégios de escrita e administração do r

[2019-04-09 17:24] #80 closed, assigned to ateldyfilho

[2019-04-09 17:24] #84 closed, assigned to ateldyfilho

[2019-04-09 17:34] joaovitor3 commented on #97
Repositório criado com docker e configurações do flask.
Link do repositório:
https://github.com/fga-eps-mds/2019.1-ADA-gitlab

[2019-04-09 21:52] joaovitor3 opened #99 "#Hotfix Criar serviço de actions no dockerfile"
Nessa issue deverá ser realizado o serviço de actions no docker-compose existente
### Tasks:
- [x] Criar serviço de actions no docker-compose
- [x] Criar dockerfile para actions

[2019-04-09 22:48] #99 closed, assigned to joaovitor3

[2019-04-10 13:32] ErickGiffoni commented on #87
Estou com o seguinte problema: ao subir o servidor da ADA usando o comando
[code]
eu consigo subir o servidor, porém o bot não responde às mensagens no telegram.
Tenho receio que isso possa ser pelo fato de eu já haver mudado alguns dados dos arquivos da Ada, como o domain.yml e o stories.md .

Any clue ?

[2019-04-10 13:35] joaovitor3 commented on #87
@ErickGiffoni Não esqueça de exportar todas as variáveis de ambiente( BOT_NAME, ACCESS_TOKEN, WEBHOOK_URL)

[2019-04-10 15:13] ErickGiffoni commented on #87
Talvez o problema seja esse :
[code]

[2019-04-10 15:15] ErickGiffoni commented on #87
ou...
[code]

[2019-04-11 00:39] ErickGiffoni commented on #87
Alguém sabe resolver isso ?
[code]

[2019-04-11 00:47] joaovitor3 commented on #87
@ErickGiffoni Esse é o erro que resolvemos anteriormente de criação de volume, você tem que criar uma pasta com o mesmo nome na sua pasta no primeiro diretório do volume no caso mongo_telegram, se não me engano. Se isso der errado cria uma pasta no diretório inicial com mongo-telegram

[2019-04-11 18:32] ateldyfilho commented on #92
O gráfico de Burndown de Riscos pode ser analisado nesse [link](https://docs.google.com/spreadsheets/d/1G8-T3FLlQzlU4nXsHyqAN90bHexrcHYGM2LAcBi4Ph0/edit?usp=sharing). Caso seja validado, o gráfico entrará nos resultados desta sprint e das próximas.

[2019-04-11 20:56] #97 closed, assigned to joaovitor3

[2019-04-11 22:56] caiovfernandes commented on #89
Api que será utilizada para obter informações quanto ao status do build:[https://docs.gitlab.com/ee/api/jobs.html](url)

[2019-04-12 13:26] ErickGiffoni commented on #87
História finalizada. Pull request feito.
Aguardo revisão.
12/04/2019 - 10:20h

[2019-04-12 16:49] #94 closed, assigned to joaovitor3

[2019-04-13 02:00] BrunoOliveiraDantas commented on #92
Todos os dados estão de acordo com o plano de risco realizado pela Equipe. Dessa forma, o gráfico de burndown de riscos pode ser continuado para as próximas sprints.

[2019-04-13 02:08] #91 closed, assigned to BrunoOliveiraDantas

[2019-04-13 15:07] #92 closed, assigned to ateldyfilho

[2019-04-13 15:07] #90 closed, assigned to vitorandos

[2019-04-13 15:08] #81 closed, assigned to nobody

[2019-04-13 16:20] ateldyfilho opened #107 "Criar Documento de Resultados da Sprint 3"
## Descrição da Issue

Criação do Documento de Resultados da Sprint 3

[2019-04-13 16:23] ateldyfilho opened #108 "Criar o Documento de Planejamento da Sprint 4"
## Descrição da Issue
Criação do documento de Planejamento da Sprint 4

### Tasks:
- [x] Planejamento sprint 4
- [x] Subir no GHPages

### Critérios de aceitação
- [x] Planejamento condizente
- [x] Está no GHPages

[2019-04-13 16:37] joaovitor3 commented on #93
Não foi realizado um treinamento específico, porém foi realizado pareamento com os membros de MDS para a realização das tasks.
Dessa forma acredito que a issue pode ser fechada

[2019-04-13 16:47] vitorandos opened #109 "US09 - Eu, como usuário, desejo saber o estágio da build para saber o andamento do processo."
## Descrição da issue
Eu, como usuário, desejo saber o estágio da build para saber o andamento do processo.

Quando há uma build em andamento, o usuário pode perguntar à Ada o estágio (Job, e.g.., testes) que a build está na ferramenta de integração contínua. Caso haja mais de uma, ele informa o estágio de todas em andamento. Caso não haja nenhuma, a Ada informa que não há builds em andamento.

##

[2019-04-13 17:04] #93 closed, assigned to joaovitor3

[2019-04-13 17:06] vitorandos opened #110 "US07 - Eu, como usuário, desejo ser notificado sobre o resultado de builds para saber o estado de integração contínua."
## Descrição da Issue
Eu, como usuário, desejo ser notificado sobre o resultado de builds para saber o estado de integração contínua.

Sempre que uma build termina, o usuário é notificado se a build terminou com sucesso ou falhou.

### Tasks:
- [x] Criar fluxo de conversa: Ada notifica usuário sobre o resultado da build
- [x] Implementar requisição à API do GitLab para receber o resultado de uma b

[2019-04-13 17:10] vitorandos opened #111 "Matriz de Avaliação de Valor"
## Descrição da Issue
Construir Matriz de Avaliação de Valor, baseando-se na estratégia do oceano azul e na Matriz Eliminar-Reduzir-Elevar-Criar

### Tasks
- [x] Estudar estratégia do oceano azul
- [x] Estudar Matriz EREC
- [x] Elaborar Matrz AdV

### Critérios de aceitação
- [x] Matriz condizente ao escopo e à matriz EREC

[2019-04-13 17:27] #87 closed, assigned to ErickGiffoni

[2019-04-13 18:32] ateldyfilho commented on #88
Essa US foi alocada a princípio na Sprint 3, e tornou-se dívida técnica para a Sprint 4.
O pareamento responsável para a Sprint 3 foi @sudjoao e @lucasfcm9
O pareamento responsável para a Sprint 4 mudou para @sudjoao e @caiovfernandes

[2019-04-13 18:34] ateldyfilho commented on #89
Essa US foi alocada a princípio na Sprint 3, e tornou-se dívida técnica para a Sprint 4.
O pareamento responsável para a Sprint 3 foi @caiovfernandes  e @guilherme-mendes
O pareamento responsável para a Sprint 4 mudou para @guilherme-mendes e @ErickGiffoni

[2019-04-13 18:41] vitorandos opened #112 "Refatorar fluxos de conversa"
## Descrição da Issue
Refatorar e evoluir fluxos de conversa da Ada

### Tasks:
- [x] Arrumar /start da Ada.
- [x] Refatorar fluxos já existentes que precisam
- [x] Construir novos fluxos que tornem a conversa com a Ada mais natural (basear-se nos fluxos existentes do Bot inicial, e.g., usuário estar triste, piada, etc).

### Critérios de aceitação
- [x] /start da Ada em funcionamento
- [x] Pelo m

[2019-04-13 18:44] ateldyfilho opened #113 "Escolher pipeline do Machine learning"
Estudo dos pipeline disponíveis no Rasa para machine learning, e selecionar o pipeline de acordo com o contexto.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Escolher pipeline.
- [x] Documentar a escolha( O por que?, )
- [x] Colocar o documento no gh-pages.

[2019-04-13 18:51] ateldyfilho opened #114 "Melhoria na Arquitetura"
Fazer melhoria no Documento de Arquitetura para que ele represente a realidade atual do projeto.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Especificar todos os micro serviços.
- [x] Realizar modelagem de dados.
- [x] Adicionar Uml de cada  microserviços.

[2019-04-13 18:55] ateldyfilho opened #115 "Refatorar formatação de documentos no GitHub Pages"
## Descrição da Issue
Refatoração da formatação de documentos no GitHub Pages

### Tasks:
- [x] Revisar todos os documentos
- [x] Atualizar seguindo o padrão de documentos

### Critérios de aceitação
Caso os critérios de aceitação já tenham sido claramente definidos pela equipe, sobretudo pelo Product Owner, acrescentá-los na forma a seguir. Caso contrário, estes devem ser adicionados em um coment

[2019-04-13 19:00] ateldyfilho opened #116 "Fazer Plano de Medição"
## Descrição da Issue
Criação do plano de medição contendo todas as métricas e ferramentas utilizadas.
### Tasks:
- [x] Criação do plano de medição
- [x] Disponibilizar no GHPages

### Critérios de aceitação
- [x] Estar condizente com as métricas e ferramentas usadas

[2019-04-13 19:01] joaovitor3 opened #117 "Criar webhook receiver no serviço de gitlab"
Criar webhook receiver do gitlab no repositório do gitlab. O webhook receiver serve para receber posts do gitlab, para realizar o acompanhamento de um repositório.

### Tasks:
- [x] Realizar código do webhook receiver.

### Critérios de aceitação
- [x] Receber webhooks do gitlab assim que um repositório cadastrado receber modificações nos critérios definidos

[2019-04-13 19:11] ateldyfilho opened #118 "Fazer Deploy dos serviços"
## Descrição da Issue
Realizar deploy dos serviços e integração de todos utilizando o gitlab-ci.

### Tasks:
- [x] Realizar deploy dos dois serviços
- [x] Integração dos dois serviços

### Critérios de aceitação
- [x] Os dois serviços estarem disponíveis.

[2019-04-13 19:56] #29 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-04-13 21:33] vitorandos commented on #112
Lembrando que esse link pode ajudar http://www.uxness.in/2017/11/designing-chatbot-ux-process.html

[2019-04-13 21:57] #32 closed, assigned to nobody

[2019-04-13 21:57] #107 closed, assigned to ateldyfilho

[2019-04-14 16:05] ErickGiffoni commented on #109
Iniciados os trabalhos para a primeira task

[2019-04-14 16:13] ErickGiffoni commented on #109
Já foi criada a nova intent "build_stage", a utter "utter_build_stage" , a storie "build_stage_storie.md" , o  dado de treino "build_stage.md" e a custom action "action_build_stage.py"

[2019-04-14 19:47] ErickGiffoni commented on #109
Estou lendo a documentação do GitLab CI , mas lá só fala como usar a Continuous Integration. Eu preciso saber como acessar os passos da integração contínua e obter informações a partir disso, para devolver a resposta ao usuário.
Alguma ideia ?

[2019-04-14 19:49] joaovitor3 commented on #109
Na verdade você tem que acessar a [documentação da api do gitlab](https://docs.gitlab.com/ee/api/).
Você terá que realizar requisições nessa api conforme conversado anteriormente

[2019-04-14 19:50] ErickGiffoni commented on #109
Isso, é sobre essa ai mesmo que eu estava falando. Não consigo encontrar como fazer requisições para ela

[2019-04-14 19:54] joaovitor3 commented on #109
@ErickGiffoni Isso foi ensinado anteriormente em uma das reuniões.
Mas você terá que realizar requisições através do módulo [requests](http://docs.python-requests.org/en/master/) do python. Além disso terá que pegar seu oauth token através de um POST na url /oauth/token da api do gitlab conforme explicado [aqui](https://docs.gitlab.com/ee/api/oauth2.html#resource-owner-password-credentials-flow) e

[2019-04-16 23:56] sudjoao commented on #110
Exemplo que pode ser útil para essa issue https://python-telegram-bot.readthedocs.io/en/latest/telegram.ext.updater.html#telegram.ext.Updater

[2019-04-17 01:57] joaovitor3 commented on #112
Pull request para essa história de usuário aceito nesse [link](https://github.com/fga-eps-mds/2019.1-ADA/pull/122).
A issue pode ser fechada

[2019-04-17 02:19] vitorandos commented on #112
Bom trabalho! Está ficando ótimo. Contudo, algumas anotações:

Na intent deny, já que faz-se uso da expressão inglesa "nop", seria interessante acrescentar a expressão completa "nope".

Na utter_default, a frase indica uma pergunta mas ela está terminando em ponto de exclamação. Verificar isso.

É importante que toda a comunicação seja realizada através de linguagem natural, portanto comandos do t

[2019-04-17 02:29] vitorandos commented on #112
Conforme discutido no Telegram. O mecanismo de ajuda existe, assim como em outros bots, mas para garantir uma conversa natural e fluida, sua requisição preferencialmente é feito a partir de expressões naturais ao contrário de comandos.

É interessante que mantenhamos o /help, garantindo suporte a pessoas já com conhecimento técnico. Contudo, a Ada deve sempre guiar o usuário para que requisite aju

[2019-04-17 16:58] #115 closed, assigned to ateldyfilho

[2019-04-17 18:49] vitorandos commented on #111
Após leitura da estratégia do Oceano Azul, separei alguns pontos que achei interessantes no livro:

- Oceanos vermelhos representam setores existentes hoje, enquanto oceanos azuis simbolizam espaços de mercado inexplorados, caracterizados pela criação de demanda e pelo crescimento altamente lucrativo
- A maioria dos oceanos azuis se desenvolve dentro dos oceanos vermelhos, expandindo fronteiras se

[2019-04-17 20:43] #116 closed, assigned to ateldyfilho

[2019-04-17 20:43] #111 closed, assigned to vitorandos

[2019-04-17 20:43] #108 closed, assigned to ateldyfilho

[2019-04-17 20:44] #112 closed, assigned to nobody

[2019-04-20 11:25] ateldyfilho opened #129 "Criar Documento de Resultados da Sprint 4"
## Descrição da Issue

Criação do Documento de Resultados da Sprint 4

[2019-04-20 11:32] #113 closed, assigned to BrunoOliveiraDantas

[2019-04-20 11:42] guilherme-mendes commented on #89
Issue concluída no [Pull Request](https://github.com/fga-eps-mds/2019.1-ADA/pull/127)

[2019-04-20 11:43] #109 closed, assigned to ErickGiffoni, guilherme-mendes

[2019-04-20 11:56] ateldyfilho opened #130 "Criar Documento de Planejamento da Sprint 5"
## Descrição da Issue

Criação do Documento de Planejamento da Sprint 5

[2019-04-20 11:57] BrunoOliveiraDantas commented on #89
Com os critérios da US09 realizados, a realização da US10 se tornou possível. Os critérios de aceitação estão de acordo com o esperado.

[2019-04-20 11:57] #89 closed, assigned to ErickGiffoni, guilherme-mendes, caiovfernandes

[2019-04-20 12:47] #88 closed, assigned to caiovfernandes, sudjoao

[2019-04-20 14:46] ateldyfilho commented on #110
Essa US foi alocada a princípio na Sprint 4, e tornou-se dívida técnica para a Sprint 5.
O pareamento responsável para a Sprint 4 foi @sudjoao  e @caiovfernandes
O pareamento responsável para a Sprint 5 mudou para @sudjoao e @guilherme-mendes

[2019-04-20 14:48] ateldyfilho commented on #114
Essa US foi alocada a princípio na Sprint 4, e tornou-se dívida técnica para a Sprint 5.

[2019-04-20 14:48] BrunoOliveiraDantas opened #131 "Evoluir os documentos do GH Pages e seguir identidade visual"
Deve ser corrigido dos os erros ortográficos, e fazer com que os documentos sigam a Identidade Visual

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Rever ortografia dos documentos;
- [x] Trocar trocar fontes das letras;
- [x] Todos os docs devem estar de acordo com a Identidade Visual.

[2019-04-20 14:49] ateldyfilho commented on #117
Essa US foi alocada a princípio na Sprint 4, e tornou-se dívida técnica para a Sprint 5.

[2019-04-20 14:49] ateldyfilho commented on #118
Essa US foi alocada a princípio na Sprint 4, e tornou-se dívida técnica para a Sprint 5.

[2019-04-20 14:49] sudjoao opened #132 "Receber dados do usuário de forma natural"
## Descrição da Issue
Receber o nome de usuário do GitLab e do repositório de forma mais natural

### Tasks:
- [x] Reconhecer nome de usuário e nome de repositório;
- [x] Adicionar valores nos slots do Rasa;
- [x] Definir o fluxo de conversa.

### Critérios de aceitação

- [x] Fluxo de conversa validado
- [x] Todos testes (flake8 e unitários) passando
- [x] Reconhecer nome de usuário e repositório

[2019-04-20 14:50] vitorandos opened #133 "Teste em Uso"
## Descrição da Issue
Consiste no estudo sobre Teste em Uso e planejamento dos mesmos, analisando a possibilidade de sua realização na presente Sprint.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Estudar sobre Teste em Uso
- [x] Planejar Teste de Uso
- [x] Implementá-los nessa sprint, caso a situação permi

[2019-04-20 14:50] caiovfernandes opened #134 "Implementar estrutura do banco de dados."
## Implementar estrutura do banco de dados.

## Descrição da Issue
Implementar a estrutura do banco, baseado em MongoDb, de acordo com a modelagem de dados e configurar ambiente para se conectar ao Mongo de maneira contínua e sem falhas.

### Tasks:

- [x] Desenvolver classes baseadas em documentos utilizando MongoEngine;
- [x] Configurar ambiente para o banco MongoDB

### Critérios de aceitação

[2019-04-20 14:51] ghost opened #135 "US30 - Eu, como usuário, desejo receber o relatório informativo de um repositório específico do GitLab."
## Descrição da Issue
Ao conversar com a Ada, o usuário pode pedir para que ela gere um relatório com as informações {preencher} do repositório cadastrado. Então, a Ada deve buscar essas informações dentro do GitLab por meio de requisições e montar um pequeno relatório em um arquivo com a extensão a definir.

Nesse arquivo,  um gráfico com as informações {tal} x  {tal} deve ser apresentado.

### T

[2019-04-20 14:53] sudjoao opened #136 "Atualizar protótipo de alta fidelidade"
## Descrição da Issue
Remodelar protótipo de alta fidelidade de acordo com a situação atual da Ada.
### Tasks:
- [x] Produzir um novo protótipo com fluxo de conversa atual.

### Critérios de aceitação
- [x] Validação do fluxo de conversas.

[2019-04-20 14:55] joaovitor3 opened #137 "Adicionar cobertura de testes unitários"
Pegar cobertura de testes unitários do serviço do gitlab.

### Tasks:
- [x] Pegar cobertura de testes unitários do gitlab
- [x] Utilizar no markdown para mostrar a cobertura de códigos

### Critérios de aceitação
- [x] Cobertura de testes estar no readme do repositório

[2019-04-20 15:01] sudjoao opened #138 "Refatorar Readme de execução do bot"
## Descrição da Issue
Descrever instruções para execução do bot e dos serviços relacionados a ele.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Apresentar informações do Readme no repositório principal;
- [x] Apresentar informações do Readme no repositório de serviços do gitlab;
- [x] Apresentar informações

[2019-04-20 15:01] caiovfernandes opened #139 "Cadastrar e consultar informações no banco"
## Cadastrar e consultar informações no banco

## Descrição da Issue
Implementar métodos para que se cadastre e consulte as informações no banco de dados.
a) Nome do usuário do GitLab;
b) Nome pessoal no telegram;
c) Nome do repositório;
d) Id do Telegram.

### Tasks:

- [x] Implementar métodos para inserir informações no banco
- [x] Implementar métodos para buscar informações no banco

### Critér

[2019-04-21 13:55] #137 closed, assigned to joaovitor3

[2019-04-21 14:28] ErickGiffoni commented on #135
@vitorandos  eu e o @lucasfcm9  estamos aguardando as tasks e os critérios de aceitação

[2019-04-21 18:47] ErickGiffoni commented on #135
Estou pareando com o @lucasfcm9 desde 11:30. Já fizemos muitas coisas, inclusive no repositório ada-gitlab.
Também definimos quais informações iremos apresentar no relatório para o usuário. São elas :
[code]

[2019-04-21 19:05] vitorandos commented on #135
# Relatório
### Estado atual do pipeline
Descrição do pipeline atual, falando quais jobs estão envolvidos  (exemplo da imagem)

<img width="310" alt="Captura de Tela 2019-04-21 às 16 04 10" src="https://user-images.githubusercontent.com/15351084/56474356-25bf5180-644f-11e9-86b1-4e23a3ec7f53.png">

### Informações do último mês
#### Qual o desempenho dos pipelines?
Total de pipelines
Número de pipe

[2019-04-21 19:06] vitorandos commented on #135
Essas informações devem ser enviadas através de mensagem. Ainda aguardo a validação pelo resto da equipe de EPS, mas já têm uma ideia do que deve conter.

[2019-04-21 19:52] ErickGiffoni commented on #135
@vitorandos , eu e o @lucasfcm9  não sabemos como pegar somente as pipelines do último mês, porque teríamos que lidar com comparação de datas, além de que o método [get pipeline da API do GitLab](https://docs.gitlab.com/ee/api/pipelines.html#list-project-pipelines) não nos retorna a informação da data daquela pipeline.
Entretanto o método [get jobs da API do GitLab](https://docs.gitlab.com/ee/api/

[2019-04-21 20:05] vitorandos commented on #135
A [US10 - Eu, como usuário, desejo saber quais os passos da build para me manter informado do processo. · Issue #89 · fga-eps-mds/2019.1-ADA · GitHub](https://github.com/fga-eps-mds/2019.1-ADA/issues/89), terminada na sprint anterior, realiza atividade análoga, apresentando os jobs da última pipeline. Deem uma olhada lá.  O interessante para o relatório é pegar ou jobs configurados na última ou os

[2019-04-21 20:11] vitorandos commented on #135
Se o get jobs apresenta datas e qual pipeline ele está conectado, então é possível conectar a data e o pipeline.

Sugiro pesquisarem também como o GitLab realiza os gráficos dessa página [CI / CD Charts · charts / GitLab · GitLab](https://gitlab.com/charts/gitlab/pipelines/charts).

De fato, como o GitLab já gera esses gráficos, vocês podem tentar encontrar se ele disponibiliza-os em algum lugar o

[2019-04-21 20:11] ErickGiffoni commented on #135
@vitorandos Sim, já estamos cientes. Foi uma das primeiras coisas que fizemos

[2019-04-22 18:26] #129 closed, assigned to ateldyfilho

[2019-04-22 18:26] #130 closed, assigned to ateldyfilho

[2019-04-22 19:49] ErickGiffoni commented on #135
Colegas, estou tendo o seguinte erro:
[code]
Alguém pode me ajudar ?
'current_pipeline_id_' está definida no meu código

[2019-04-22 19:53] vitorandos commented on #135
Pelo que me parece no format você só colocou o project_id e esqueceu do current_pipeline_id_

[2019-04-23 01:42] #138 closed, assigned to guilherme-mendes, sudjoao

[2019-04-23 13:15] ErickGiffoni commented on #135
Resolvido ontem .

[2019-04-24 16:58] vitorandos commented on #114
Sobre a modelagem de dados, estava dando uma olhada e gostaria de sugerir algumas melhorias.

Para o documento Pipeline, acredito não haver necessidade de alguns atributos: percent succeeded e failed pipelines.

* percent succeeded: Pode ser obtida como um método para o seu cálculo através do número de pipelines bem sucedidos e do total de pipelines
* failed pipelines: Se não me engano os dois res

[2019-04-25 17:45] ErickGiffoni commented on #135
Criando arquivos com python:
* txt : https://www.guru99.com/reading-and-writing-files-in-python.html
* pdf lib : https://pythonhosted.org/PyPDF2/
* reportlib :
    * userguide : https://www.reportlab.com/docs/reportlab-userguide.pdf
    * overview/instalation : https://bitbucket.org/rptlab/reportlab/
    * docs : https://www.reportlab.com/documentation/

[2019-04-25 18:55] ErickGiffoni commented on #135
Alguém sabe como pegar um arquivo do computador e retorná-lo para o usuário via código ? Alguma função da lib OS talvez... ou de qualquer lib
Eu tenho um arquivo pdf no computador. Ai quero, via código, pegar esse pdf e mandar pro usuário no fim do código.

[2019-04-25 20:39] ErickGiffoni commented on #135
Não estou encontrando suporte em python para gerar imagens(que no caso seriam gráficos).
Alguma sugestão ?
Obs.: Matplotlib, Pandas e Ploty funcionam para Jupyter Notebooks, que não é meu caso.

[2019-04-26 02:54] joaovitor3 commented on #118
Issue finalizada, irei fechá-la

[2019-04-26 02:54] #118 closed, assigned to joaovitor3

[2019-04-26 20:57] ateldyfilho opened #152 "Criar Documento de Resultados da Sprint 5"
## Descrição da Issue
Criação do Documento de Resultados da Sprint

[2019-04-26 21:19] #133 closed, assigned to vitorandos

[2019-04-26 21:21] #134 closed, assigned to caiovfernandes

[2019-04-26 21:22] #139 closed, assigned to ateldyfilho, vitorandos, caiovfernandes

[2019-04-26 21:24] #136 closed, assigned to guilherme-mendes, sudjoao

[2019-04-26 21:25] #131 closed, assigned to BrunoOliveiraDantas

[2019-04-26 21:26] #114 closed, assigned to BrunoOliveiraDantas

[2019-04-26 21:28] joaovitor3 commented on #117
O webhook já está funcionando, só falta fazer a integração com o bot.

[2019-04-26 21:29] #117 closed, assigned to joaovitor3

[2019-04-26 21:30] #110 closed, assigned to guilherme-mendes, caiovfernandes, sudjoao

[2019-04-26 21:33] #132 closed, assigned to guilherme-mendes, sudjoao

[2019-04-26 22:25] ateldyfilho opened #153 "Criar Documento de Planejamento da Sprint 6"
## Descrição da Issue

Criação do Documento de Planejamento da Sprint 6

[2019-04-26 22:47] ateldyfilho commented on #135
Essa US foi alocada a princípio na Sprint 5, e tornou-se dívida técnica para a Sprint 6.
O pareamento responsável para a Sprint 5 foi @ErickGiffoni  e @lucasfcm9
O pareamento responsável para a Sprint 6 mudou para @ErickGiffoni  e @sudjoao

[2019-04-26 22:56] ErickGiffoni commented on #135
Atualizando as informações para gerar o relatório:
[code]

[2019-04-26 22:57] ghost opened #155 "Criar mapeamento de conversa entre usuário e bot"
## Criar mapeamento de conversa entre usuário e bot

## Descrição da Issue
Para cada possível requisição do usuário, criar um diagrama mostrando intenção do usuário e resposta do bot.
### Tasks:
- [x] Criar diagrama de fluxo de conversa.

### Critérios de aceitação
- [x] Subir para o gh-pages;
- [x] Estar de acordo com a paleta de cores.

[2019-04-26 22:59] guilherme-mendes opened #156 "US16 - Eu, como usuário, desejo que a Ada crie uma issue para mim para reportar algo aos mantenedores do repositório de maneira mais fácil."
## Descrição da Issue
Ao conversar com a Ada, o usuário pode criar issues do repositório cadastrado no GitHub.

### Tasks:

- [x] Fazer requisição à API do GitHub
- [x] Pegar OAUTH Token GitHub

### Critérios de aceitação

- [x] Validação em todos os testes
- [x] Criação realizada por meio de conversas no Telegram

[2019-04-26 23:14] BrunoOliveiraDantas opened #157 "Criar repositório para serviço do github"
Nessa isso será realizada a ambientação do serviço do Github.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Deve conter docker
- [x] Teste de aceitação
- [x] Deploy

### Critérios de Aceitação:
- [x] Ter a aplicação no ar
- [x] Docker configurado no repositório

[2019-04-26 23:30] ateldyfilho opened #158 "Implementar teste em uso"
## Descrição da Issue
Consiste na implementação do Teste em Uso e planejamento dos mesmos, analisando a possibilidade de sua realização na presente Sprint.

### Tasks:
- [x] Implementação do teste em uso
- [x] Produzir relatório
- [x] Disponibilizar no GH-Pages

### Critérios de aceitação
- [x] Relatõrio escrito apontando melhorias

[2019-04-27 03:08] guilherme-mendes commented on #156
API GitHub - https://developer.github.com/v3/issues/

[2019-04-27 19:24] vitorandos opened #162 "Evolução ReadMe"
## Descrição da Issue
Consiste na melhoria do guia de instalação a fim de torná-lo mais claro, apresentando passos anteriormente negligenciados, além de atualizar a apresentação do produto.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Incorporar passos do guia de instalação tornando-o mais claro
- [x] Atual

[2019-04-28 17:21] ErickGiffoni commented on #28
Modelo bacana de apresentação de um produto :
[https://docs.google.com/presentation/d/1wTS0i3isy4SovthPB1crV-O-93jMfelgu4m1DEt6DAE/edit#slide=id.gcb9a0b074_1_0](url)

Obs.: podemos usar de referência para a release 1.

[2019-04-28 21:39] #162 closed, assigned to vitorandos

[2019-04-28 21:45] vitorandos opened #165 "Apresentação Release 1"
## Descrição da Issue
Consiste na construção da apresentação da R1.

### Tasks:
- [x] Levantar agenda da apresentação
- [x] Organizar conteúdo da apresentação
- [x] Criar slide de apresentação (lembrar de seguir paleta de cores)
- [x] Trazer para a master última versão estável
- [x] Realizar o deploy da última versão estável
- [x] Elaborar release e release note no repositório
- [x] Preparar gh-pa

[2019-04-28 22:05] vitorandos commented on #155
O [HEFLO BPM | Business Process Management](https://www.heflo.com) é uma ferramenta legal para a criação de fluxogramas.

[2019-04-29 00:44] ErickGiffoni commented on #165
Modelo bacana de apresentação de um produto :
[https://docs.google.com/presentation/d/1wTS0i3isy4SovthPB1crV-O-93jMfelgu4m1DEt6DAE/edit#slide=id.gcb9a0b074_1_0](url)

Obs.: podemos usar de referência para a release 1.

[2019-04-30 14:05] ErickGiffoni commented on #28
Encontrei um livro gratuito de MongoDB :
[http://file.allitebooks.com/20160130/Practical%20MongoDB.pdf](url)
Pode nos ser útil

[2019-04-30 14:24] ErickGiffoni commented on #135
@joaovitor3 , @vitorandos , @sudjoao ... nessa parte:
[code]
o que é p eixo x e o que é o eixo y desse gráfico ?
#urgente #135

[2019-04-30 14:28] ErickGiffoni commented on #135
Escrevendo esse novo método :
[code]

[2019-04-30 14:40] ErickGiffoni commented on #135
Alguém pode me ajudar nessa parte ? Preciso saber até que dia vai a última semana e qual é o último mês, a partir da data atual :
[code]

[2019-04-30 22:45] sudjoao commented on #135
Estou dando uma olhada no código e pesquisando sobre para mais tarde nos reunimos para resolver isso.

[2019-04-30 23:12] ErickGiffoni commented on #135
@sudjoao Muito bom

[2019-04-30 23:27] joaovitor3 commented on #135
Como conversamos no hangouts, isso aqui pode ser útil na história.

https://stackoverflow.com/questions/151199/how-to-calculate-number-of-days-between-two-given-dates

Como subtrair duas datas e pegar a diferença em dias

[2019-05-01 01:20] sudjoao commented on #135
Tudo certo, utilizando a biblioteca datetime e a api do gitlab foi possível conseguir fazer a diferença das datas.

[2019-05-01 04:04] caiovfernandes commented on #156
### Pareamento com @guilherme-mendes:
-> **Duração**: aproximadamente 3:30hrs
-> **O que foi desenvolvido:**
    **1)** Estudo da API GitHub (ênfase na requisição para criação de Issues);
    **2)** Requisições na api do GitHub utilizando o [PostMan](https://learning.getpostman.com/docs/postman_pro/integrations/github) ;
    **3)** Implementação inicial do método `create_an_issue`, assim como a de

[2019-05-01 12:26] ErickGiffoni commented on #135
A equipe de MDS e de EPS está reunida agora, desde 8:30, em samambaia, todos trabalhando.
Eu e @sudjoao estamos trabalhando nessa issue.

[2019-05-01 12:44] #152 closed, assigned to ateldyfilho

[2019-05-01 12:45] #153 closed, assigned to ateldyfilho

[2019-05-01 13:57] ateldyfilho opened #167 "Revisão da Documentação"
## Descrição da Issue
Revisão ortográfica e validação de documentos referentes ao produto e projeto

### Tasks:
- [x] Revisão ortográfica
- [x] Validação dos documentos

### Critérios de aceitação
- [x] Deve estar condizente com o projeto

[2019-05-02 13:53] ErickGiffoni commented on #135
estou tendo problemas ao subir o docker das actions... e tambem o docker da ada-gitlab .
[code]
e depois o erro :
[code]

[2019-05-02 14:16] ErickGiffoni commented on #135
erro ao subir o docker da ada-gitlab:
[code]
e o erro:
[code]
o erro é bem ai nesse create_app().

[2019-05-02 15:46] sudjoao commented on #135
Estamos com um problema que, após passar a requisição para o telegram, o bot está enviando a mensagem mas faz a requisição novamente e envia novamente e fica esse ciclo até derrubarmos o bot, as vezes até depois de derrubar e subir novamente ele continua mandando.

[2019-05-02 15:47] ErickGiffoni commented on #135
@sudjoao @joaovitor_s se puder nos ajudar

[2019-05-02 18:59] vitorandos commented on #133
## O que foi aprendido a partir do estudo de Teste em Uso?
Teste em Uso é uma prática orientada à satisfação do usuário amplamente utilizada nas áreas de marketing e saúde. É utilizado para avaliar a performance de produtos, trazendo também informações sobre a relação dos usuários com o design do produto e sua intuitividade.

Essa avaliação é realizada antes da disponibilização do produto e permit

[2019-05-02 19:26] vitorandos commented on #165
## Template

Escolhemos seguinte template de slides: https://www.slidescarnival.com/pt-br/modelo-de-apresentacao-gratis-olivia/2098

## Versão 0.1

A princípio, levantamos alguns aspectos que consideramos que talvez pudessem ser abordados na apresentação:

### Problema

- Falta de uma ferramenta eficaz para gerenciamento da produção e integração da equipe.

### Qual o problema e qual o contexto?

[2019-05-02 19:40] vitorandos commented on #165
## Versão 1.0

Em seguida, refinamos e organizamos a agenda:

- Pitch
- Apresentação da Agenda
- Apresentação da Equipe
- Problema
- Solução
- Estratégia para criação de Oceano Azul
- Modelo de Negócios
- Personalidade da Ada
- Tecnologias relacionadas à arquitetura
- Arquitetura do Produto para o contexto do projeto
- Arquitetura para R1
- Pipeline DevOps
- Práticas ágeis
- Ferramentas e Métricas

[2019-05-03 00:24] sudjoao commented on #135
O problema se dava devido a grande tempo que estava sendo usada para fazer a requisição, após refatorar e rever o que realmente seria necessário nas requisições o problema foi resolvido.

[2019-05-03 00:25] ghost commented on #135
Os problemas relacionados ao Pipeline e as builds já foram resolvidos. @guilherme-mendes

[2019-05-03 00:25] joaovitor3 commented on #135
Os erros de docker citados acima foram resolvidos no pareamento realizado hoje.

[2019-05-03 03:44] vitorandos commented on #167
Revisamos a documentação, corrigindo erros ortográficos, refinando conceitos e atualizando documentos segundo nossa estratégia e modelo de negócios.

[2019-05-03 07:05] vitorandos commented on #135
Percebemos que a issue poderia ter sido mais modularizada para permitir sua completude em uma sprint. Decidimos retirar a parte de gráficos que será adicionada uma nova história.

[2019-05-03 07:05] #135 closed, assigned to ErickGiffoni, sudjoao

[2019-05-03 15:05] #167 closed, assigned to ateldyfilho

[2019-05-03 15:05] #165 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-05-03 22:07] ErickGiffoni commented on #165
Apresentação feita com sucesso. Top demais, que time!

[2019-05-06 17:20] ateldyfilho opened #180 "Resultados Sprint 6"
## Descrição da Issue
Documentos Resultados Sprint 6

[2019-05-06 17:21] ateldyfilho opened #181 "Planejamento Sprint 7"
## Descrição da Issue
Documentação Sprint 7

[2019-05-06 17:35] BrunoOliveiraDantas commented on #157
Repositório já está pronto para ser trabalhado, ambiente já esta implementado. Porém é necessário adicionar o readme e o guia de contribuição, será criado uma nova issue para essa atividade ser realizada.

[2019-05-06 17:35] #157 closed, assigned to joaovitor3, BrunoOliveiraDantas

[2019-05-06 18:17] guilherme-mendes commented on #156
Para realização da issue é necessário primeiro a autenticação do usuário realizada na branch Authorization-Github do serviço [GitHub](https://github.com/fga-eps-mds/2019.1-ADA-github/commits/Authorization-Github).
Que está em progresso.

[2019-05-06 18:45] ateldyfilho commented on #156
Essa US foi alocada a princípio na Sprint 6, e tornou-se dívida técnica para a Sprint 7.
O pareamento responsável para a Sprint 6 foi @caiovfernandes e @guilherme-mendes.
O pareamento responsável para a Sprint 7 mudou para @caiovfernandes e @sudjoao

[2019-05-06 18:46] ateldyfilho commented on #158
Essa US foi alocada a princípio na Sprint 6, e tornou-se dívida técnica para a Sprint 7.
O pareamento continua com @vitorandos @ateldyfilho

[2019-05-06 18:48] ateldyfilho commented on #155
Essa US foi alocada a princípio na Sprint 6, e tornou-se dívida técnica para a Sprint 7.
O responsável para a Sprint 6 foi @lucasfcm9
O responsável para a Sprint 7 mudou para @ErickGiffoni

[2019-05-06 18:49] ErickGiffoni opened #182 "US12 - Eu, como usuário, desejo saber as informações sobre os serviços que a Ada oferece."
## Nome da Issue
- US12 - Eu, como usuário, desejo saber as informações sobre os serviços que a Ada oferece.

## Descrição da Issue

O usuário pode perguntar para a Ada como ela pode ajudá-lo, ou seja, quais atividades ela faz. Assim, a Ada deve mandar uma mensagem para ele, parecida com uma mensagem de 'help', o informando sobre o que ele pode pedir para ela.

### Tasks:

- [x] Melhorar a intent

[2019-05-06 18:52] ErickGiffoni commented on #182
Trabalhos já iniciados.

[2019-05-06 18:54] guilherme-mendes opened #183 "US06 - Eu, como usuário, desejo que a Ada cadastre meu usuário no GitHub"
## Descrição da Issue
Ao conversar com a Ada, o usuário pode cadastrar seu usuário no GitHub.

### Tasks:

- [x] Fazer requisição à API do GitHub
- [x] Criação do GitHub App

### Critérios de aceitação

- [x] Validação em todos os testes
- [x] Cadastro realizado por meio de autenticação

[2019-05-06 18:57] BrunoOliveiraDantas opened #184 "Criar cronjob para limpeza de imagens do rancher"
## Descrição da Issue
Realização de cronjob para a remoção de imagens e containers não utilizados no rancher.

### Tasks:
- [x] Criar cronjob.
- [x] Criar shell script para limpeza das images e repositório.

### Critérios de aceitação
- [x] Repositório que documente o cronjob a ser realizado
- [x] Cronjob ser realizado diariamente no horário das daily meetings
- [x] Tockens do rancher não estarem

[2019-05-06 22:39] BrunoOliveiraDantas opened #185 "Evoluir Artefatos"
### Tasks:
- [x] Melhorar Documento de Arquitetura
- [x] Evoluir Gitflow

### Critérios de aceitação

- [x] Criar diagrama de como funciona o rasa no projeto.
- [x] Criar diagrama de flask.
- [x] Criar modelagem da Api do github.
- [x] Melhorar as descrições do documento de arquitetura.
- [x] Adicionar estrutura de dev, homolog e produção no diagrama do gitflow.

[2019-05-07 01:20] ghost opened #187 "Mudança na forma de cadastrar o usuário com o GitLab a partir da Ada"
## Descrição da Issue
Refatoração do cadastro do usuário com o GitLab a partir da Ada.

### Tasks:
- [x] Cadastro realizado por meio da autenticação;
- [x] Fazer requisições na Api do GitLab.

### Critérios de aceitação
- [x] Validação em todos os testes;
- [x] Cadastro realizado por meio da autenticação;

[2019-05-07 01:22] ghost commented on #183
Link útil para o projeto:
https://stackoverflow.com/questions/37264827/telegram-bot-oauth-authorization
https://core.telegram.org/bots#deep-linking

[2019-05-07 13:57] ErickGiffoni commented on #155
Em que parte do gh-pages essa implementação deve estar ?
@lucasfcm9 , @BrunoOliveiraDantas , @vitorandos

[2019-05-07 14:09] sudjoao commented on #156
### Pareamento com @caiovfernandes hoje:
**-> Tempo estimado: 2 horas;**
**-> O que foi feito?**
    - Estudo da api do GitHub (Issue)
    - Implentação inicial dos métodos para criação de Issues;
    - Resolução de alguns problemas de ambiente.
**-> Links utilizados:**
     - GitHub Issue API : [https://github.com/fga-eps-mds/2019.1-ADA/issues/156](url)
     - Post Request on Python: [https://sta

[2019-05-07 14:10] ErickGiffoni commented on #182
A intent help já foi melhorada.
Também melhorei a utter_help.
Testando agora...

[2019-05-07 15:04] ErickGiffoni commented on #182
História finalizada.
Pull Request feito.

[2019-05-08 00:12] sudjoao commented on #156
Discussão sobre descobrir a intent do usuário sem ele ter que utilizar alguma palavra chave na frase: https://forum.rasa.com/t/providing-conversation-context-to-the-nlu-using-microservices/4972

[2019-05-09 14:16] ErickGiffoni commented on #155
Dúvida : eu devo subir o mapeamento de conversa para o gh-pages, certo ?
Para isso, devo commitar direto na branch do gh-pages ou devo fazer de outra forma ?
Nesse último caso, como ?

[2019-05-09 14:28] BrunoOliveiraDantas commented on #155
Sim, o mapeamento da conversa deve ser colocado no gh-pages. Para isso você deve criar uma branch sua com o mapeamento, após isso vc abre um pull request para a branch gh-pages. É o mesmo como você sempre fez, mas julgue que a gh-pages é como a branch devel.

[2019-05-09 14:32] ErickGiffoni commented on #155
@BrunoOliveiraDantas Ok, obrigado!

[2019-05-09 14:37] ErickGiffoni commented on #155
Finalizei o mapeamento de conversa. Agora irei tomar as providências para subir isso ao gh-pages.
@BrunoOliveiraDantas , em qual das pastas to gh-pages eu coloco o mapeamento ?

[2019-05-09 18:17] vitorandos commented on #155
Como conversado, deve-se aprimorar algumas coisa no mapeamento.

1. Aprimorar o fluxo para que consigamos ver de fato como a conversa ocorre, acrescentando excertos de mensagens tanto da Ada quanto do usuário. Lembrando: _não_ são mensagens _completas_ e _nem todas_ as mensagens, mas sim **fragmentos que permitam identificar como a conversa flui**;
2. As seções de Amazon, Github e Gitlab apresenta

[2019-05-09 18:27] ErickGiffoni commented on #155
@vitorandos Depois pode me explicar melhor o tópico 4 ? Não entendi direito o erro

[2019-05-09 19:35] sudjoao commented on #156
Conseguimos fazer um metodo para criar Issues a partir da Ada, atualmente está sendo feito de forma estática, com o _username_ e _repositoryName_ fixos, mas iremos fazer a integração com o banco ainda hoje.

[2019-05-09 22:53] ghost commented on #183
Links úteis:
1 -> https://stackoverflow.com/questions/51116728/telegram-url-schema-which-url-to-trigger-the-client-to-open-the-share-send-to
2 -> https://github.com/nickoala/telepot/tree/master/examples/deeplinking
3 -> https://core.telegram.org/bots#deep-linking

[2019-05-10 13:32] ErickGiffoni commented on #155
História finalizada.

[2019-05-11 17:19] #181 closed, assigned to ateldyfilho

[2019-05-11 17:20] #180 closed, assigned to ateldyfilho

[2019-05-11 17:21] #158 closed, assigned to ateldyfilho, vitorandos

[2019-05-11 17:25] ateldyfilho opened #192 "Resultados Sprint 7"
## Descrição da Issue
Documentos Resultados Sprint 7

[2019-05-11 17:27] ateldyfilho opened #193 "Planejamento Sprint 8"
## Descrição da Issue
Documentação do Planejamento da Sprint 8

[2019-05-11 17:59] ghost commented on #187
Foi realizada a leitura da API de autenticação do GitLab
https://docs.gitlab.com/ee/api/oauth2.html#gitlab-as-an-oauth2-provider

[2019-05-11 18:03] #156 closed, assigned to guilherme-mendes, caiovfernandes, sudjoao

[2019-05-11 18:03] guilherme-mendes commented on #183
Foi realizada a autenticação do GitHub por meio de um link enviado pela Ada, assim armazenando as informações do usuário.

[2019-05-11 18:08] guilherme-mendes commented on #183
Requisições do nome, access token, id, repositórios autenticados pelo usuário e armazenados no banco de dados. Realizada no serviço do [GitHub](https://github.com/fga-eps-mds/2019.1-Ada-github).
Sendo criado o GitHub App com os client id e client secret.

[2019-05-11 18:11] #182 closed, assigned to ErickGiffoni

[2019-05-11 18:17] ghost commented on #183
Devido a dificuldade de se utilizar o deep linking e falhas na conexão com a API do Telegram, a issue foi deixada com divida técnica para a próxima sprint.

[2019-05-11 18:18] #155 closed, assigned to ErickGiffoni

[2019-05-11 18:23] ghost commented on #187
Links úteis para realização da issue
1 -> https://stackoverflow.com/questions/51116728/telegram-url-schema-which-url-to-trigger-the-client-to-open-the-share-send-to
2 -> https://github.com/nickoala/telepot/tree/master/examples/deeplinking
3 -> https://core.telegram.org/bots#deep-linking

[2019-05-11 18:25] joaovitor3 commented on #184
Repositório criado [aqui](https://github.com/joaovitor3/vm-cleanup).

O shell script funciona corretamente, apenas falta a parte do cronjob

[2019-05-11 18:25] guilherme-mendes commented on #187
Link útil para a realização da autenticação do Gitlab pelo bot.
https://stackoverflow.com/questions/37264827/telegram-bot-oauth-authorization
https://core.telegram.org/bots#deep-linking

[2019-05-11 18:29] BrunoOliveiraDantas commented on #185
Nessa issue foi feito o diagrama de modelagem de dados da Api do Github, também foi feito alteração no gitflow, na qual é dividida em a parte de holomolog e produção. O diagrama de funcionamento do Rasa foi feito. Ficou faltando a melhoria dos textos e o diagrama de funcionamento. Alguns impedimentos e que a Sprint foi um pouco mais curta, e eu adoeci durante a semana.

[2019-05-11 19:15] ghost commented on #183
Essa US foi alocada a princípio na Sprint 7, e tornou-se dívida técnica para a Sprint 8.
O pareamento responsável para a Sprint 7 foi @lucasfcm9  e @guilherme-mendes .
O pareamento responsável para a Sprint 8 mudou para @caiovfernandes  e @lucasfcm9

[2019-05-11 19:16] ghost commented on #187
Essa US foi alocada a princípio na Sprint 7, e tornou-se dívida técnica para a Sprint 8.
O pareamento responsável para a Sprint 7 foi @lucasfcm9  e @guilherme-mendes .
O pareamento responsável para a Sprint 8 mudou para @caiovfernandes  e @lucasfcm9

[2019-05-11 19:18] ErickGiffoni opened #194 "US08 - Eu, como usuário, desejo que a Ada reinicie uma build/pipeline do meu projeto no GitLab CI, caso ela tenha falhado."
## Nome da issue

- US08 - Eu, como usuário, desejo que a Ada reinicie uma build/pipeline do meu projeto no GitLab CI, caso ela tenha falhado.

## Descrição da Issue

Um projeto no GitLab pode ter uma ou várias pipelines. Quando uma delas falha, o usuário pode pedir à Ada para que ela reinicie essa pipeline, no intuito de que dessa vez a pipeline tenha sucesso.

### Tasks:

- [x] Entender qual a p

[2019-05-11 19:28] BrunoOliveiraDantas commented on #185
Essa US foi alocada a princípio na Sprint 7, e tornou-se dívida técnica para a Sprint 8.

[2019-05-11 19:33] guilherme-mendes opened #195 "Melhora no mapeamento de fluxo de conversas"
### Tasks:
- [x] Aprimorar diagrama de fluxo de conversa.

### Critérios de aceitação
- [x] Subir para o gh-pages;
- [x] Estar de acordo com a paleta de cores.
- [x] Validação.

[2019-05-11 19:37] guilherme-mendes opened #196 "US14 -Eu, como usuário, desejo ser notificado quando a Ada demorar a recuperar informações para saber o status da minha requisição."
### Tasks:

- [x] Fluxo de conversa validado
- [x] Informar ao usuário sobre a demora de respostas com seu devido status de andamento

### Critérios de aceitação

- [x] De acordo com o tempo máximo estipulado
- [x] Validação

[2019-05-12 20:06] ErickGiffoni commented on #194
Começando os trabalhos agora, na parte do github.

[2019-05-12 20:12] joaovitor3 commented on #194
@ErickGiffoni Essa parte não é necessário o uso do serviço do github, apenas do gitlab

[2019-05-12 21:50] ErickGiffoni commented on #194
Essa funcionalidade está descrita em 2 requisições:

1. Ada faz uma requisição à API da ada-gitlab para conseguir informar ao usuário quais são as pipelines que ele tem no projeto dele.
Essa requisição retorna pra Ada os nomes das pipelines do projeto do usuário e os respectivos ids delas.
Então a Ada mostra os nomes das pipelines ao usuário e pergunta qual delas ele quer reiniciar.
O usuário resp

[2019-05-12 21:52] ErickGiffoni commented on #194
A parte 1 descrita acima já está 80% feita.

[2019-05-12 22:11] ErickGiffoni commented on #194
Links úteis:
- https://stackoverflow.com/questions/55771907/gitlab-pipeline-trigger-rerun-latest-tagged-pipeline
- https://docs.gitlab.com/ee/ci/pipelines.html#using-the-api
- https://docs.gitlab.com/ee/ci/triggers/README.html
- https://docs.gitlab.com/ee/api/pipelines.html
- https://medium.com/faun/gitlab-pipeline-to-run-cross-multiple-projects-3563af5d6dca

[2019-05-13 16:18] sudjoao commented on #194
Estava dando uma olhada na api do gitlab onde fala sobre [pipelines](https://docs.gitlab.com/ee/api/pipelines.html) e encontrei uma função que serve para reiniciar os jobs de uma pipeline:

Creio que, provavelmente, será essa que vamos utilizar nesta issue. Testei ela em um repositório que eu tinha onde a pipeline tinha dado erro e fiz um post utilizando a API e o GitLab começou a rodar a pipeline

[2019-05-13 16:45] ErickGiffoni commented on #194
@sudjoao Muito bom, João, vamo que vamo

[2019-05-13 18:23] sudjoao commented on #194
O metodo para reinciar build foi criado no repositório AdaGitlab.

Dei uma olhada aqui e acho que não é necessário fazer 2 rotas, pois, na pasta pipeline, já existe uma função que retorna os pipelines do usuário, acho que podiamos utilizar esse código já feito e apenas criar uma outra rota nessa mesma pasta para reiniciar o pipeline.

[2019-05-13 19:16] guilherme-mendes commented on #194
@sudjoao Acho válido.

[2019-05-13 19:20] ErickGiffoni commented on #194
@sudjoao Eu já previa essa fala. Imaginei que ocorreria. Sim, talvez seja possível usar o código já existente. Talvez. Tem que ver direitinho, porque do jeito que está eu consigo filtrar exatamente o que eu preciso para retornar ao usuário . Se fôssemos usar o código pronto do método da classe Report, por exemplo, não daria, porque esse método não tem retorno. Já em relação à pasta pipeline, não s

[2019-05-14 00:54] BrunoOliveiraDantas opened #199 "Cronjob para agendamento de tarefas"
Nessa issue deve ser implementado o cronjob para agendamento de tarefas do gitlab, no qual o usuário pode registrar o horário que ele queira receber o relatório.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [ ] Usuário conseguir agendar horários
- [ ] Enviar relatórios

### Critérios de aceitação

- [ ] Testado

[2019-05-14 13:30] sudjoao commented on #194
@vitorandos, o @ErickGiffoni e eu estamos com uma duvida. Estamos pensando em mostrar ao usuário  as pipelines do projeto dele que falharam em forma de botões. Cada botão vai ter o nome da pipeline e o id dela, isso porque pipelines podem ter o mesmo nome (isso ocorre quando elas vieram de uma mesma branch, e o que as diferencia é o id). Dai o usuário clica no botão e a gente reinicia a pipeline r

[2019-05-14 13:38] vitorandos commented on #194
Isso não é viável porque um projeto geralmente tem muitos pipelines que falham.

Como conversei com o @sudjoao ontem, o interessante é permitir que o usuário reinicie um pipeline assim que este falha, ie., logo que ele recebe a mensagem da Ada avisando-lhe que o pipeline falhou.

Logo, poderíamos adicionar um botão logo abaixo dessa mensagem de falha permitindo que o pipeline possa ser reiniciado.

[2019-05-14 13:42] ErickGiffoni commented on #194
@vitorandos A princípio essa notificação não está no escopo da nossa história. Como proceder, então ? Notificar o usuário seria outra funcionalidade, que não está planejada pra essa sprint. Ai como procedemos então ?

[2019-05-14 13:47] vitorandos commented on #194
Essa funcionalidade já está implementada.

Mais informações em [US07](https://github.com/fga-eps-mds/2019.1-ADA/issues/110) e [Criar webhook receiver](https://github.com/fga-eps-mds/2019.1-ADA/issues/117).

[2019-05-15 00:36] vitorandos opened #200 "Analisar planejamento e avaliar redução do escopo"
## Descrição da Issue
Consiste no estudo e reavaliação do planejamento do produto para o escopo do projeto, analisando a necessidade de redução do escopo.

### Tasks:
- [x] Verificar com a professora sobre o gerenciamento e repontuação de histórias
- [x] Analisar e reorganizar planejamento das histórias
- [x] Reduzir escopo caso necessário

### Critérios de aceitação
- [x] Planejamento atualizado

[2019-05-15 02:33] guilherme-mendes commented on #195
Evolução do mapeamento de conversas realizada na seguinte [issue](https://github.com/fga-eps-mds/2019.1-ADA/issues/155) durante a sprint anterior.

[2019-05-15 02:35] guilherme-mendes commented on #195
Evolução do mapeamento v1.0
![adabotPreview](https://user-images.githubusercontent.com/37874689/57744729-d01e4380-76a0-11e9-9145-992819cba8de.png)

[2019-05-15 14:59] guilherme-mendes commented on #195
Houve algumas alterações para seguir a paleta de cores.

[2019-05-15 22:40] guilherme-mendes commented on #195
Mapeamento de Conversas v2.0
![mapeamento_de_conversa](https://user-images.githubusercontent.com/37874689/57814102-03b4a880-7749-11e9-9e4e-423785750da7.png)

[2019-05-16 00:39] joaovitor3 commented on #184
Todas as tasks foram realizadas.
O código se encontra [aqui](https://github.com/joaovitor3/vm-cleanup).

O cronjob foi realizado para o mesmo horário da daily, conforme a imagem a seguir:

![image](https://user-images.githubusercontent.com/18130942/57818363-e805ce00-7759-11e9-96ce-57b1a12ef6ba.png)

[2019-05-16 00:39] #184 closed, assigned to joaovitor3

[2019-05-17 01:39] caiovfernandes commented on #187
### Pareamento de 13/05 (@caiovfernandes  e @lucasfcm9):
-> Foi definido escopo da issue e como iríamos implementá-la;
-> Foi estudada a API do GitLab: https://docs.gitlab.com/ee/api/
-> Duração: 2:00 hrs +-

[2019-05-17 01:44] caiovfernandes commented on #187
### Paremento 14/05 (@caiovfernandes e @lucasfcm9 )
-> Implementamos as requisições para obter o nome do usuário e os repositórios a partir do GitLab Token;
-> Criamos a Action para retornar os repositórios do usuário na Ada pelo serviço AdaRasa;
-> Utilizamos a Api de Bots do Telegram para apresentar os repositórios do usuário em formato de botões;
-> Links úteis:
     1) Api Telegram Bot: https:

[2019-05-17 01:47] caiovfernandes commented on #187
### Pareamento 16/05 ( @caiovfernandes  e @lucasfcm9  )
-> Implementamos o banco de dados para o serviço AdaGitLab utilizando a [MongoEngine](http://mongoengine.org)(mongodb);
-> Salvamos as informações do usuário juntamente com seu repositório no banco;

[2019-05-17 02:00] #195 closed, assigned to guilherme-mendes

[2019-05-17 02:01] #192 closed, assigned to ateldyfilho

[2019-05-17 02:01] #193 closed, assigned to ateldyfilho

[2019-05-18 11:52] ateldyfilho opened #203 "Resultados Sprint 8"
## Descrição da Issue
* Documentação de Resultados da Sprint 8

[2019-05-18 11:54] ateldyfilho opened #205 "Planejamento Sprint 9"
## Descrição da Issue
* Documentação do Planeamento da Sprint 9

[2019-05-18 11:57] ErickGiffoni commented on #194
Fazendo os testes agora com @sudjoao

[2019-05-18 12:10] #185 closed, assigned to BrunoOliveiraDantas

[2019-05-18 13:55] sudjoao commented on #194
Testes feitos e pull request realizado, apenas aguardando a aprovação.

[2019-05-18 13:56] #183 closed, assigned to guilherme-mendes, caiovfernandes

[2019-05-18 13:57] #200 closed, assigned to vitorandos

[2019-05-18 13:58] #194 closed, assigned to ErickGiffoni, sudjoao

[2019-05-18 13:58] #187 closed, assigned to guilherme-mendes, caiovfernandes

[2019-05-18 14:03] guilherme-mendes commented on #196
Agora quando o usuário pedir alguma funcionalidade que demanda requisições e por algum motivo houver demora, ela informará ao mesmo.

[2019-05-18 14:03] guilherme-mendes commented on #196
Timeout
https://2.python-requests.org/en/master/user/advanced/

[2019-05-18 14:04] #196 closed, assigned to guilherme-mendes

[2019-05-18 15:04] guilherme-mendes opened #208 "Implementar banco GitHub"
## Implementar banco GitHub
### Tasks:

- [x] Implementar estrutura do Banco de Dados no serviço do GitHub de acordo com a modelagem proposta.
- [x] Refatorar código para integração com nova estrutura de banco de dados.
- [x] Teste unitários e flake8

[2019-05-18 15:12] joaovitor3 opened #209 "Refatoração repositório Ada Gitlab"
## Descrição da Issue
Realizar refatoração do repositório Ada gitlab

### Tasks:
- [x] Refatorar configuração do banco de dados
- [x] Refatorar classe de relatório em menores métodos
- [x] Adicionar codeclimate ao repositório
- [x] Aumentar cobertura de código
- [x] Criação de classe pai com código que esteja duplicado

### Critérios de aceitação
- [x] Cobertura de testes acima de 60%
- [x] Classe

[2019-05-18 15:21] joaovitor3 opened #210 "Refatoração repositório AdaBot"
## Descrição da Issue
Realizar refatoração do repositório AdaBot

### Tasks:
- [x] Refatorar código com as modificações realizadas no repositório do github e gitlab
- [x] Adicionar codeclimate ao repositório

### Critérios de aceitação
- [x] Todas funcionalidades já existentes funcionarem
- [x] Codeclimate no repositório

[2019-05-18 15:25] joaovitor3 opened #211 "Refatoração repositório Ada Github"
## Descrição da Issue
Realizar refatoração do repositório Ada gitlhub

### Tasks:
- [x] Refatorar configuração do banco de dados
- [x] Adicionar codeclimate ao repositório
- [x] Aumentar cobertura de código
- [x] Criação de classe pai com código que esteja duplicado

### Critérios de aceitação
- [x] Cobertura de testes acima de 60%
- [x] Classe pai com métodos que estavam duplicados
- [x] Codeclim

[2019-05-19 14:26] ghost opened #212 "US28 - Eu, como usuário, desejo receber um relatório informativo de um repositório cadastrado do GitHub"
## Descrição da Issue
Ao conversar com a Ada, o usuário pode pedir para que ela gere um relatório com as informações (Branches, releases, pull request's, issues, collaborators) do repositório cadastrado. Então, a Ada deve buscar essas informações dentro do GitHub por meio de requisições e montar um relatório informativo.

### Tasks:
- [x] Fazer requisições a API do GitHub;
- [x] Montar JSON com as

[2019-05-19 17:32] ErickGiffoni opened #213 "US24 - Eu, como usuário, desejo que a Ada configure no pipeline de deploy a última versão estável do repositório para recolocar o serviço no ar."
## Nome da Issue

US24 - Eu, como usuário, desejo que a Ada verifique qual é a última versão estável do meu projeto e faça o deploy dela.

## Descrição da Issue

Quando o projeto do usuário vai para produção, ou seja, para testes e deploy, pode ser que ele falhe. Nesse caso, o usuário pode pedir à Ada para que ela encontre a versão estável mais recente do projeto dele, correspondente à última pipe

[2019-05-19 17:55] ErickGiffoni commented on #213
Trabalhos iniciados nesse repositório

[2019-05-19 20:04] ErickGiffoni commented on #213
Tasks 1,2,3,4 já foram feitas. Isso quer dizer que a história está 80% pronta. Falta só escrever os testes unitários e testar tudo no telegram - para isso preciso que alguém se disponha a me ajudar, porque não consigo subir a Ada pro telegram localmente.

[2019-05-20 00:02] ateldyfilho opened #215 "Criar EVM"
## Descrição da Issue
Criar tabela para a Análise de Valor Agregado (EVM), estudar e adaptar para o projeto.

### Tasks:
- [x] Estudar EVM
- [x] Avaliar a melhor forma para a adaptação para o projeto ADA
- [x] Criação de tabelas e gráficos

### Critérios de aceitação
- [x] EVM compreensível em nível de cliente
- [x] Apresentação da situação atual e conclusões

[2019-05-20 13:43] caiovfernandes commented on #208
Modelagem proposta:
![photo_2019-05-21 07 19 28](https://user-images.githubusercontent.com/42192251/58088322-c8770700-7b98-11e9-9fb9-b8299ca97fd6.jpeg)

[2019-05-20 21:56] sudjoao commented on #212
Dando uma olhada aqui na Issue sobre o [Relatório do GitLab](https://github.com/fga-eps-mds/2019.1-ADA/issues/135) encontrei esse link do [Cycle Analytics do GitLab,](https://docs.gitlab.com/ee/user/project/cycle_analytics.html) tem bastantes informação sobre alguns dados que seriam interessantes para o relatório que estamos fazendo.

[2019-05-20 22:42] sudjoao commented on #212
O @lucasfcm9 e eu, durante pareamento, estavamos pesquisando quais são os dados que seriam importantes para o relatório e, a partir da [API do GitHub](https://developer.github.com/v3/) ,tiramos algumas coisas que achamos que poderiam ser mostrados no relatório:

* **Branches**: Quais são as branches existentes no momento, a quanto tempo elas foram criadas;
* **Collaborators**: Quem são os particip

[2019-05-21 13:33] ErickGiffoni commented on #213
Estou escrevendo os testes unitários para o deploy estável e estou com uma dúvida. O método que estou testando, quando dá errado, pode retornar erro 404 ou 401. Estou testando isso assim:
[code]
Note o "or" ali em cima. A ideia é pegar um erro ou o outro dependendo de qual o erro será retornado.

[2019-05-21 13:49] vitorandos commented on #213
[code]

[2019-05-21 13:50] ErickGiffoni commented on #213
Obrigado , Vitor

[2019-05-21 17:33] vitorandos commented on #212
Eu acredito que o ideal seria trazermos coisas semelhantes ao Cycle Analytics do GitLab, assim como apontado pelo @sudjoao .

Em relação as branches, seria interessante informar active e stale branches, para que as últimas possivelmente possam ser excluídas.

Trazer o nome das issues poderia deixar o relatório muito longo, não? O mesmo pode ocorrer para o corpo de pull requests.

Qual seria a util

[2019-05-21 17:37] ErickGiffoni commented on #212
@vitorandos Sobre a utilidade de informar os colaboradores do projeto: pensa assim, uma organização usando a Ada. Aí chega uma pessoa novata, sem saber do projeto direito. Ela pode pedir o relatório do projeto e ficar sabendo quem está trabalhando no mesmo projeto que ela... por aí ... eu acho bacana informar.
Ou então , vai que alguém do projeto queira pegar esse relatório e expor de alguma forma

[2019-05-21 17:46] vitorandos commented on #200
Após discussões com o time e com a professora, decidimos por remover do escopo algumas histórias. Além disso, alteramos um pouco o roadmap para refletir tais mudanças.

Uma nova história, relacionada a exportação dos relatórios para uma planilha do Google Sheets está sendo ponderada sobre sua adição ao escopo.

[2019-05-21 17:51] vitorandos commented on #215
Leitura dos artigos:

Rusk, J. (2009). Earned Value for Agile Development. Software Tech News, 12(1), 20-27.

Efe, P., & Demirörs, O. (2013, September). Applying EVM in a software company: benefits and difficulties. In 2013 39th Euromicro Conference on Software Engineering and Advanced Applications (pp. 333-340). IEEE.

[2019-05-21 18:04] vitorandos commented on #215
O primeiro artigo é interessante pois apresenta uma maneira de aplicar a EVM para um contexto ágil fugindo da complexidade e fórmulas geralmente propostos, bem similar a uma das propostas da professora, em que a EVM é avaliada em questão de porcentagens e não quantidades monetárias.

Contudo, acredito que a sugestão do artigo de computar horas trabalhadas para computar o custo da semana/sprint não

[2019-05-21 18:05] vitorandos commented on #215
Além disso, estou com dúvida sobre o eixo de tempo da EVM, se ela se inicia a partir do começo do projeto ou a partir dessa sprint, ou após a R1.

[2019-05-21 18:10] vitorandos commented on #212
Ótima justificativa! Mas será que esse seria o melhor local para um novato obter essas informações? Pergunto pois a ideia é que este relatório possa ser gerado por exemplo a cada semana/mês e essa informação se repetiria sempre em todos esses relatórios.

[2019-05-21 18:15] ErickGiffoni commented on #212
@vitorandos Ahh entendi a questão da repetição dos nomes dos colaboradores. É verdade. Mas e se algum colaborador sair ? E se entrar um novo ? Aí essa repetição estaria diferente , entende? É algo a se pensar mesmo

[2019-05-21 19:31] #203 closed, assigned to ateldyfilho

[2019-05-21 19:46] vitorandos opened #216 "Atualizar informações sobre a release 1.0.0"
## Descrição da Issue
Consiste na atualização das informações da release 1.0.0, criada pela professora Carla.

### Tasks:
- [x] Escrever descrição da release
- [x] Descrever funcionalidades de release
- [x] Descrever bugs encontrados
- [x] Editar tags

### Critérios de aceitação
- [x] Validado e aceito pelo PO

[2019-05-21 19:50] joaovitor3 commented on #210
O codeclimate foi adicionado ao repositório, conforme a foto a seguir:

![image](https://user-images.githubusercontent.com/18130942/58126086-82499400-7be8-11e9-8b35-c528785eb998.png)

[2019-05-21 19:54] joaovitor3 commented on #209
codeclimate adicionado ao repositório, conforme a foto a seguir:

![image](https://user-images.githubusercontent.com/18130942/58126215-d5bbe200-7be8-11e9-8bb5-e73d1fd483c5.png)

A classe pai com métodos comuns à outras classes, também foi criada.

![image](https://user-images.githubusercontent.com/18130942/58126489-701c2580-7be9-11e9-9a75-8618125d1667.png)

[2019-05-21 20:09] vitorandos commented on #213
Lembrando: o nome da issue, quando uma história de usuário, deve ter seu título assim como descrito no [Backlog](https://fga-eps-mds.github.io/2019.1-ADA/#/docs/project/backlog). Atualizei-o.

[2019-05-21 20:16] vitorandos commented on #213
Além disso, lembrem-se que essa issue está relacionada a US23, portanto seu fluxo de conversa estará relacionado a ela. Ou seja, não esqueçam das implicações da US23 sobre ela.

Isso ocorre porque, na maioria dos casos, o usuário vai querer colocar a última versão estável no ar quando for notificado pela Ada que ele caiu.

[2019-05-21 20:43] ErickGiffoni commented on #213
História já está pronta. Só estou fazendo alguns últimos ajustes e implementando os testes, nos quais estou com dificuldades.

[2019-05-22 13:30] ateldyfilho opened #218 "Criar webhook GitHub"
## Descrição da Issue
Criação de webhook para eventos no github

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x] Criar endpoint para receber webhook
- [x] Adicionar webhook via github API

### Critérios de aceitação
- [x] Endpoint receber notificação assim que uma issue for criada
- [x] Endpoint receber notific

[2019-05-22 13:31] ateldyfilho commented on #218
@joaovitor3 adicione a descrição e tasks conforme combinado.

[2019-05-23 18:15] BrunoOliveiraDantas commented on #199
Essa issue não será mais implementada, por conta da redução de escopo, caso exista alguma oportunidade eu gostaria de adiciona-lá novamente.

[2019-05-23 18:15] #199 closed, assigned to BrunoOliveiraDantas

[2019-05-23 19:38] ateldyfilho opened #220 "Atualizar Estimativa de Custo no TAP"
## Descrição da Issue
Atualizar a Estimativa de Custo no Termo de Abertura do Projeto de acordo com as considerações dos monitores e da professora, embutindo riscos e lucro.

### Tasks:
- [x] Analisar o contexto do projeto considerando riscos e lucros
- [x] Atualizar no Termo de Abertura do Projeto
- [x] Validar com a Professora

### Critérios de aceitação
- [x] Estar coerente com o projeto
- [x]

[2019-05-23 20:06] BrunoOliveiraDantas commented on #205
Documentação feita! Obrigado pelo seu trabalho ;)

[2019-05-23 20:06] #205 closed, assigned to ateldyfilho

[2019-05-23 20:11] ErickGiffoni commented on #199
@BrunoOliveiraDantas Verdade, se possível vamos tentar fazer essa história . Acho que valerá a pena.

[2019-05-24 14:34] ErickGiffoni commented on #213
Trabalhando novamente nos testes. Por enquanto não estão dando muito certo. Além disso , o docker não está gerando aquela pasta com os HTML que mostram a cobertura dos testes.

[2019-05-25 09:51] sudjoao commented on #212
Ontem o @lucasfcm9 e eu pareamos durante a noite, de 20:00 - 23:30, e durante o pareamento deixamos tudo pronto no repositório [Ada-GitHub](https://github.com/fga-eps-mds/2019.1-ADA-github), com testes implementados e todas as requisições funcionando. E na parte da AdaBot está praticamente pronto, já foi validado com alguns EPS, irei só fazer mais alguns ajustes para o relatório ficar de um jeito

[2019-05-25 14:31] sudjoao commented on #212
Pull request criado e esperando aprovação.

[2019-05-25 17:18] ateldyfilho commented on #215
Foram elaboradas tabelas e gráficos para a EVM do projeto, disponibilizada no nosso repositório no Google Drive.

https://docs.google.com/spreadsheets/d/1Tg0zRNkPwZetNyI04BZ_simbtpMU4Ywo3ByMN57E6zA/edit?usp=sharing

[2019-05-25 17:45] joaovitor3 commented on #209
As duplicações foram diminuídas, conforme a imagem a seguir:

![image](https://user-images.githubusercontent.com/18130942/58372926-a6181d00-7efb-11e9-8925-5b7dbed4959f.png)

[2019-05-25 18:03] ateldyfilho opened #225 "Resultados Sprint 9"
## Descrição da Issue
* Documentação dos Resultados da Sprint 9

[2019-05-25 18:34] BrunoOliveiraDantas commented on #210
A manutenção foi feita no repositório, as duplicações foram retiradas.
![image](https://user-images.githubusercontent.com/22121504/58373307-7e788300-7f02-11e9-91c8-87819f4d012b.png)

[2019-05-25 18:53] #215 closed, assigned to ateldyfilho, vitorandos

[2019-05-25 20:32] #208 closed, assigned to guilherme-mendes, caiovfernandes

[2019-05-25 20:34] #210 closed, assigned to joaovitor3, BrunoOliveiraDantas

[2019-05-25 20:37] #212 closed, assigned to sudjoao

[2019-05-25 20:59] #213 closed, assigned to ErickGiffoni, sudjoao

[2019-05-25 21:25] BrunoOliveiraDantas commented on #216
Foi realizado a release dos repositórios 2019.1-Ada e 2019.1-Ada-gitlab. No qual o foco é as funcionalidade que agregam valor ao produto.

[2019-05-25 21:25] #216 closed, assigned to joaovitor3, BrunoOliveiraDantas

[2019-05-26 11:54] caiovfernandes opened #227 "US17 - Eu, como usuário, desejo que a Ada faça um comentário na issue por mim para entrar em contato com os mantenedores do repositório de maneira mais fácil."
## Descrição da Issue
Implementar no Microserviço AdaGithub e no AdaRasa a funcionalidade de comentar uma issue a partir da conversa pelo telegram.

### Tasks:
- [x] Implementação dos métodos de criação no GitHub
- [x] Implementação do fluxo de conversa no AdaRasa

### Critérios de aceitação
- [x] Ada comenta em issues

[2019-05-26 11:56] caiovfernandes commented on #227
### Links úteis para a realização da Issue:
- [Api para Issues do GitHub;](https://developer.github.com/v3/issues/)
- [Api para comentários das issues do Github;](https://developer.github.com/v3/issues/comments/)

[2019-05-26 14:09] guilherme-mendes commented on #211
Essa US foi alocada a princípio na Sprint 9, e tornou-se dívida técnica para a Sprint 10.
O pareamento responsável para a Sprint 9 foi @caiovfernandes  e @guilherme-mendes.
O pareamento responsável para a Sprint 10 mudou para @lucasfcm9 e @guilherme-mendes.

[2019-05-26 14:13] guilherme-mendes commented on #211
Ficou faltando uma parte da refatoração do banco de dados, criação da classe pai com código duplicado e maior cobertura de testes.

[2019-05-26 14:35] sudjoao commented on #209
Essa US foi alocada a princípio na Sprint 9, e tornou-se dívida técnica para a Sprint 10.
O pareamento responsável para a Sprint 9 foi @joaovitor3  e @BrunoOliveiraDantas .
O responsável para a Sprint 10 mudou para @sudjoao.

[2019-05-26 14:37] sudjoao commented on #209
Para essa Sprint ficaram de dividas os testes unitários, e o aumento da cobertura dos mesmo para 60% ou mais.

[2019-05-26 14:48] sudjoao commented on #213
Olá, @ErickGiffoni, estou aqui só pra dar alguns feedbacks sobre algumas coisas que aconteceram na sua Issue durante essa sprint e que podem ser melhoradas ou evitadas para que não aconteçam novamente.
  * O primeiro ponto é que você acabou subindo coisas de versões desatualizadas nessa sua branch, tanto que no seu [primeiro commit](https://github.com/fga-eps-mds/2019.1-ADA-gitlab/pull/21/commits/

[2019-05-26 15:04] vitorandos commented on #227
Lembrando: o nome da issue, quando uma história de usuário, deve ter seu título assim como descrito no [Backlog](https://fga-eps-mds.github.io/2019.1-ADA/#/docs/project/backlog). Atualizar.

[2019-05-26 15:19] vitorandos opened #228 "Corrigir configuração de testes"
## Descrição da Issue
Atualmente a cobertura de testes está grandemente afetada por um erro nas configurações que fazem com que declarações de métodos e importações sejam considerados como linhas de código não testadas. Além disso, a ferramenta de integração contínua não está funcionando em sua totalidade pois a conexão ao MongoDB está falhando. Essa issue visa corrigir isso.

### Tasks:
- [x] Cor

[2019-05-26 16:23] vitorandos commented on #209
Por favor, @joaovitor3 , como uma tarefas do papel de DevOps, garanta que os guias de instalação _existam_ e mantenham-se **atualizados**. Essa é uma tarefa que vem sendo negligenciada desde o início do projeto e que é muito importante pois facilita seu próprio papel, evitando que os demais integrantes necessitem de você para subir o sistema. Obrigado.

[2019-05-26 18:48] vitorandos commented on #228
Configuração de testes unitários corrigida. Também foi corrigida a variável do nome do banco no arquivo yml do GitLab CI que anteriormente impedia a conexão do MongoDB na ferramenta de integração contínua. Atualmente a cobertura está em 70%.

Além disso, foi criado um usuário chamado @adatestbot para o teste de rerun_pipeline enquanto não possuímos um mock ou factory para tal teste.

[2019-05-26 18:52] vitorandos commented on #228
Para fins dos próximas configurações que fizermos, _e.g._ GitHub, a URL do banco deve ser definida de maneira diferente à local no arquivo yml, como a seguir:

[code]

[2019-05-26 19:42] vitorandos commented on #228
Assim que o PR for pra devel, o sistema deve ser testado da maneira seguinte:
[code]
Pra pegar a cobertura:
[code]
Pra atualizar o relatório em html:
[code]

[2019-05-26 20:47] #228 closed, assigned to vitorandos

[2019-05-26 21:35] joaovitor3 commented on #209
@vitorandos
Se quiser que seguimos os papéis a risca, seguiremos.
Mas quando tiverem impedimentos apenas encaminharei as mensagens para o papel correto, ok?

[2019-05-26 21:39] vitorandos commented on #209
Perfeito!

[2019-05-27 02:23] vitorandos opened #229 "Garantir exclusão do banco após execução de testes"
## Descrição da Issue
Atualmente o banco não é excluído após a realização dos testes, o que faz com que diversos drops sejam necessários na escrita de testes. Essa issue tem o objetivo de corrigir isso, minimizando o trabalho necessário para a escrita de novos testes e diminuindo a quantidade de linhas dos atuais.

### Tasks:
- [x] Atualizar setUp na classe base de testes bem como nas classes filh

[2019-05-27 02:28] vitorandos commented on #229
Pesquisei diversas maneiras de deletar o banco tanto na documentação do MongoEngine quanto na internet sem muito sucesso. Encontrei essa [pergunta](https://stackoverflow.com/questions/15886469/dropping-all-collections-in-mongoengine) no StackOverflow que relativamente me guiou na realização dessa história.

Por algum motivo a exclusão ocorre através do alias 'api' em vez de 'AdaBot' como definido

[2019-05-27 13:32] #229 closed, assigned to vitorandos

[2019-05-27 15:31] joaovitor3 opened #230 "Realizar deploy do github"
## Descrição da Issue
Configurar o ci do serviço do github, possuindo os jobs de test, build e deploy.

### Tasks:
- [x] Realizar mirror do repositório no github
- [x] Configurar arquivo .gitlab-ci.yml
- [x] Atualizar configurações no rancher

### Critérios de aceitação
- [x] Funcionalidades do serviço do github nos ambientes de produção e homologação
- [x] Possuir badges de integração contínua e

[2019-05-27 17:59] BrunoOliveiraDantas opened #231 "Cronjob para verificar o deploy"
Nessa issue deve ser feito um cronjob que verifique constantemente o deploy do usuário, para saber se o serviço está no ar.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.

- [x] Criar script que verifica a url.
- [x] Criar cronjob para agendar o período em que deve ser verificado

### Critérios de aceitação

- [x]

[2019-05-27 18:14] BrunoOliveiraDantas opened #232 "US35 - Eu, como usuário, desejo que a Ada cadastre a minha url do deploy do meu projeto."
Nessa issue deve ser feito o cadastro da url (deploy do usuário).

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.

- [x] Deve ser adicionado um fluxo de conversa para o usuário.
- [x] Deve ser cadastrado a url do usuário.

### Critérios de aceitação

- [x] O usuário deve ser capaz de cadastrar seu url.

[2019-05-27 18:26] vitorandos commented on #232
Talvez fosse bom criar como uma história de usuário!

[2019-05-27 18:42] #225 closed, assigned to ateldyfilho

[2019-05-27 22:18] ErickGiffoni commented on #227
Conforme informado hoje pelo @ateldyfilho , devido a algumas dificuldades técnicas, essa história está temporariamente adiada.

[2019-05-27 22:29] ErickGiffoni opened #234 "US34 - Eu, como usuário, desejo que a Ada me informe os colaboradores do projeto para auxiliar no gerenciamento de atividades."
## Nome da Issue
US34 Eu, como usuário, desejo que a Ada me informe os colaboradores do projeto para auxiliar no gerenciamento de atividades.

## Descrição da Issue
Como parte de um time de desenvolvimento de um software, o usuário pode querer saber quem são os outros colegas de trabalho dele, ou seja, ou outros colaboradores do projeto.
Dessa forma, ele pode perguntar isso para a Ada, e ela deve

[2019-05-27 22:40] caiovfernandes opened #235 "US20 - Eu, como usuário, desejo que a Ada me informe as issues alocadas para um dos colaboradores que eu informar para auxiliar no gerenciamento de atividades."
## Descrição da Issue
A Ada irá informar quais issues estão designadas para certo usuário a partir da solicitação do usuário pelo telegram

### Tasks:
- [x]  Implementar a nova intent relacionada a essa história, bem como as mensagens prontas(utters), a nova action e os dados de treinamento;
- [x]  Implementar a funcionalidade no microserviço do Github e fazer a integração correta entre os microse

[2019-05-27 22:48] caiovfernandes commented on #234
Github repositories api: [https://developer.github.com/v3/repos/#list-contributors](url)

[2019-05-27 22:59] ateldyfilho opened #236 "Planejamento Sprint 10"
## Descrição da Issue
* Documentação do Planejamento da Sprint 10

[2019-05-28 02:19] joaovitor3 commented on #230
Todas as atividades foram realizadas, conforme mostra a imagem a seguir:

![image](https://user-images.githubusercontent.com/18130942/58446083-b97ee000-80d5-11e9-806b-248fa2126396.png)

Além do badge o serviço do github também possui integração contínua.

[2019-05-28 02:20] #230 closed, assigned to joaovitor3

[2019-05-28 13:44] ErickGiffoni commented on #234
Estamos pesquisando a requisição que nos retornará os colaboradores de um projeto.

[2019-05-28 17:46] BrunoOliveiraDantas commented on #232
@vitorandos  Ok, essa será a US30, tudo bem?

[2019-05-28 19:23] vitorandos commented on #209
Para essa nova Sprint há um novo critério de aceitação que é a cobertura de testes acima de 80%. Idealmente, acima de 90%.

[2019-05-29 00:53] ateldyfilho commented on #220
A estimativa de custos ficou da seguinte forma, após as alterações sugeridas pela Professora Carla:

![image](https://user-images.githubusercontent.com/15329798/58521369-e6dd9380-8192-11e9-9ab6-a874ea7b8757.png)

[2019-05-29 17:31] ErickGiffoni commented on #234
Pessoal, estou tentando subir a Ada no docker mas recebo o seguinte erro:
[code]
Alguém sabe o que é e qual a solução ?

[2019-05-29 23:49] sudjoao commented on #209
A maioria dos testes já foram refatorados durante a semana, atualmente, como se pode se ver na imagem, a cobertura de testes está em 74%, os principais pontos que estão faltando testar são a parte do User e Webhook, que planejo terminar ainda hoje, o foco é conseguir uma cobertura de teste acima de 90%, tentando alcançar o 100%.
Segue a imagem citada:
![Captura de tela de 2019-05-29 20-45-47](http

[2019-05-31 13:46] ErickGiffoni commented on #234
Alguém me ajuda por favor

[2019-05-31 13:47] joaovitor3 commented on #234
@ErickGiffoni Esse erro geralmente é relacionado com o seu domain.yml
Você pode ter esquecido de adicionar um ":" após alguma utter ou algo assim

[2019-05-31 15:17] ghost commented on #234
@joaovitor3 O problema se encontrava no arquivo domain.yml e já foi resolvido!

[2019-05-31 15:18] joaovitor3 commented on #234
@lucasfcm9 Muito obrigado!

[2019-05-31 15:38] ErickGiffoni commented on #234
Ok, problema resolvido. Obrigado @lucasfcm9 , @guilherme-mendes e @joaovitor3 .

[2019-05-31 15:39] ErickGiffoni commented on #234
Fazendo agora os últimos testes, via telegram, para finalizar a funcionalidade.

[2019-06-01 00:44] #236 closed, assigned to ateldyfilho

[2019-06-01 02:53] sudjoao commented on #209
Atualmente a cobertura de testes está em 91%, quase todos os testes que eram possíveis fazer atualmente foram feitos.
Segue a imagem com mais informações:
![Captura de tela de 2019-05-31 23-51-04](https://user-images.githubusercontent.com/46005310/58742941-3922ec80-83ff-11e9-8450-66799d299925.png)

[2019-06-01 02:56] sudjoao commented on #209
Além disso foi realizado algumas alterações na parte do report,  antes existia apenas uma requisição, e como era uma requisição grande o tempo decorrido para ela rodar era muito grande, pensando nisso agora existem 5 requisições para pegar todos os dados necessários para o report.

[2019-06-01 04:26] sudjoao commented on #209
A criação do pull request foi realizada, apesar da refatoração a parte de gerar o relatório ainda está levando um tempo consideravelmente alto para ser feito, isso será algo para ser levado e discutido durante a Sprint review.

[2019-06-01 12:16] #220 closed, assigned to ateldyfilho

[2019-06-01 12:22] ateldyfilho opened #242 "Resultados Sprint 10"
## Descrição da Issue
* Documentação dos Resultados da Sprint 10

[2019-06-01 13:21] BrunoOliveiraDantas commented on #232
Essa US foi alocada a princípio na Sprint 10, e tornou-se dívida técnica para a Sprint 11.
O responsável da história foi @brunooliveiradantas.
Para finalizar a história e necessário fazer os testes, feito isso ela estará pronta para ser entregue.

[2019-06-01 13:25] BrunoOliveiraDantas commented on #231
Essa US foi alocada a princípio na Sprint 10, e tornou-se dívida técnica para a Sprint 11.
O responsável da história foi @brunooliveiradantas.
Para finalizar a história e necessário fazer o script de verificação do domínio do usuário (deploy). O cronjob em si, já está pronto.

[2019-06-01 13:39] vitorandos commented on #232
35!

[2019-06-01 13:50] ateldyfilho opened #243 "US25 - Eu, como usuário, desejo que a Ada me informe quando um pull request criado por ou atribuído a mim receber uma revisão para que eu possa fazer as alterações necessárias."
## Descrição da Issue
Eu, como usuário, desejo que a Ada me informe quando um pull request criado por ou atribuído a mim receber uma revisão para que eu possa fazer as alterações necessárias.

### Tasks:

- [x] Elaborar fluxo de conversa
- [x] Tratar json recebido de acordo com o evento disparado.

### Critérios de aceitação

- [x] Testes feitos
- [x] Mensagens validadas
- [x] Notificação funciona

[2019-06-01 13:57] vitorandos opened #244 "US37 - Eu, como usuário, desejo que a Ada me informe quando um pull request receber uma solicitação de revisão para que eu tenha conhecimento do andamento do projeto."
## Descrição da Issue
Eu, como usuário, desejo que a Ada me informe quando um pull request receber uma solicitação de revisão para que eu tenha conhecimento do andamento do projeto.
### Tasks:

- [x] Elaborar fluxo de conversa
- [x] Tratar json recebido de acordo com o evento disparado.

### Critérios de aceitação

- [x] Testes feitos
- [x] Mensagens validadas
- [x] Notificação funcionando

[2019-06-01 14:01] vitorandos opened #245 "US38 - Eu, como usuário, desejo que a Ada me informe quando um pull request for aberto para que eu tenha conhecimento do andamento do projeto."
## Descrição da Issue
Eu, como usuário, desejo que a Ada me informe quando um pull request for aberto para que eu tenha conhecimento do andamento do projeto.

### Tasks:
- [x] Elaborar fluxo de conversa
- [x] Tratar json recebido de acordo com o evento disparado.

### Critérios de aceitação

- [x] Testes feitos
- [x] Mensagens validadas
- [x] Notificação funcionando

[2019-06-01 14:02] ateldyfilho opened #246 "US33 - Eu, como usuário, desejo que a Ada me informe quando um comentário de issue for feito."
## Descrição da Issue
Eu, como usuário, desejo que a Ada me informe quando um comentário de issue for feito no repositório cadastrado.

### Tasks:

- [x] Elaborar fluxo de conversa
- [x] Tratar json recebido de acordo com o evento disparado.

### Critérios de aceitação

- [x] Testes feitos
- [x] Mensagens validadas
- [x] Notificação funcionando

[2019-06-01 14:03] vitorandos commented on #245
Nessa história, todos os usuários que têm o repositório cadastrado na Ada recebem a notificação de abertura do PR.

[2019-06-01 14:04] vitorandos commented on #246
Nessa história, todos os usuários que têm o repositório cadastrado na Ada recebem a notificação de comentário de issue.

[2019-06-01 14:04] ateldyfilho opened #247 "US36 - Eu, como usuário, desejo que a Ada me informe quando uma issue for criada."
## Descrição da Issue
Eu, como usuário, desejo que a Ada me informe quando uma issue for criada no repositório cadastrado.

### Tasks:

- [x] Elaborar fluxo de conversa
- [x] Tratar json recebido de acordo com o evento disparado.

### Critérios de aceitação

- [x] Testes feitos
- [x] Mensagens validadas
- [x] Notificação funcionando

[2019-06-01 14:05] vitorandos commented on #244
Nessa história, todos os usuários que têm o repositório cadastrado na Ada recebem a notificação de solicitação de revisão do PR.

[2019-06-01 14:19] ateldyfilho commented on #244
Essa História foi adicionada durante a sprint 10 e feita juntamente com a #218 no PR https://github.com/fga-eps-mds/2019.1-ADA-github/pull/8

[2019-06-01 14:20] ateldyfilho commented on #243
Essa História foi adicionada durante a sprint 10 e feita juntamente com a #218 no PR https://github.com/fga-eps-mds/2019.1-ADA-github/pull/8

[2019-06-01 14:20] ateldyfilho commented on #245
Essa História foi adicionada durante a sprint 10 e feita juntamente com a #218 no PR https://github.com/fga-eps-mds/2019.1-ADA-github/pull/8

[2019-06-01 14:21] ateldyfilho commented on #246
Essa História foi adicionada durante a sprint 10 e feita juntamente com a #218 no PR https://github.com/fga-eps-mds/2019.1-ADA-github/pull/8

[2019-06-01 14:21] ateldyfilho commented on #247
Essa História foi adicionada durante a sprint 10 e feita juntamente com a #218 no PR https://github.com/fga-eps-mds/2019.1-ADA-github/pull/8

[2019-06-01 14:23] #218 closed, assigned to joaovitor3

[2019-06-01 14:24] #243 closed, assigned to joaovitor3

[2019-06-01 14:24] #244 closed, assigned to joaovitor3

[2019-06-01 14:24] #245 closed, assigned to joaovitor3

[2019-06-01 14:24] #246 closed, assigned to joaovitor3

[2019-06-01 14:24] #247 closed, assigned to joaovitor3

[2019-06-01 15:06] #209 closed, assigned to joaovitor3, BrunoOliveiraDantas, sudjoao

[2019-06-01 15:11] ghost commented on #211
A criação da classe pai e todas as classes filhas foram criadas. Ficaram faltando os testes unitários e a redução da duplicação do código, que atualmente está em 9.

[2019-06-01 15:21] caiovfernandes commented on #235
Para o microservço Ada-GitHub foi criada apenas uma rota, que recebe o Chat_id do usuário e o nome do contribuinte que se deseja saber as issues, com essas informações é feita a requisição para a API de issues do GitHub filtrando para que retorne apenas as issues de um certo contribuinte.

[2019-06-01 15:22] #235 closed, assigned to ErickGiffoni, caiovfernandes

[2019-06-01 15:25] caiovfernandes commented on #235
Para o microserviço da Ada-Rasa, foi implementado um fluxo que entra na ação de receber a issue do contribuinte a partir de perguntas como:
 - Quais são as issues do [contribuinte]
 - Quero saber quais são as issues do [contribuinte]
 - me fala as issues do [contribuinte].
A partir disso, serão retornadas as issues do determinado contribuinte para o repositório cadastrado.

[2019-06-01 16:20] guilherme-mendes commented on #227
Issue continuada na sprint 11, pois necessitava da notificação de criação de issues.

[2019-06-01 16:23] sudjoao opened #248 "US25 - Eu, como usuário, desejo receber notificação de revisão de Pull Requests"
## Descrição da Issue
Eu, como usuário, desejo que a Ada me notifique quando alguém solicitado realizar a revisão de um Pull Request que esteja no meu nome.
### Tasks:
- [x] Montar fluxo de conversa no GitHub;
- [x] Tratar Json recebido de acordo com evento disparado.

### Critérios de aceitação
- [x] O usuário deve ser notificado por via do telegram;
- [x] Passar nos testes;
- [x] Fluxo de conver

[2019-06-01 16:23] ErickGiffoni commented on #234
Essa US foi alocada a princípio na Sprint 10, e tornou-se dívida técnica para a Sprint 11.
O pareamento responsável para a Sprint 10 foi @ErickGiffoni  e @caiovfernandes .
O pareamento responsável para a Sprint 11 mudou para @ErickGiffoni  e @guilherme-mendes

[2019-06-01 16:26] sudjoao commented on #211
Essa US foi alocada a princípio na Sprint 10, e tornou-se dívida técnica para a Sprint 11.
O pareamento responsável para a Sprint 10 foi @lucasfcm9  e @guilherme-mendes.
O pareamento responsável para a Sprint 11 mudou para @lucasfcm9 e @sudjoao.

[2019-06-02 19:35] ErickGiffoni commented on #234
**Atualizando o andamento dessa issue**
1 - Preciso de ajuda para escrever os testes unitários dessa história.
2 - Uma vez que a funcionalidade está pronta, peço para que outros membros do projeto a testem localmente. O ideal é a Ada responder os colaboradores do projeto, e para isso o testador deverá estar cadastrado com a Ada em algum repositório que tenha contribuidores.

[2019-06-03 16:16] guilherme-mendes commented on #227
Links importantes no desenvolvimento da issue:
- https://developer.github.com/v3/issues/comments/
- https://core.telegram.org/bots/api#message

[2019-06-03 17:53] vitorandos opened #251 "Realizar Mock de testes do repositório Ada-gitlab"
## Descrição da Issue
Essa issue consiste na realização do Mock de todos os testes do repositório [Ada-gitlab](https://github.com/fga-eps-mds/2019.1-ADA-gitlab).

### Tasks:
- [x] Estudar mocks
- [x] Implementar mocks garantindo que os testes não dependam de requisições externas

### Critérios de aceitação
- [x] Cobertura de testes igual ou maior
- [x] Capacidade de executar os testes offline (_ie

[2019-06-03 19:24] ateldyfilho opened #253 "Planejamento Sprint 11"
## Descrição da Issue
* Documentação do Planejamento da Sprint 11

[2019-06-04 11:33] caiovfernandes opened #254 "Cadastrar Repositório de Organização do GitLab"
## Descrição da Issue
Implementar na Ada uma maneira de cadastrar um repositório de organizações, e não apenas os repositórios pertencentes ao usuário.

### Tasks:
- [x] Estudar uma maneira de obter os repositórios de organizações do usuário;
- [x] Implementar no microserviço do GitLab os métodos para obter os repositórios de organizações do usuário;
- [x] Melhorar o retorno nos botões de cadastro

[2019-06-04 12:18] ErickGiffoni commented on #227
Trabalhando com @guilherme-mendes agora. Estamos pesquisando um jeito para a Ada entender um reply no telegram.

[2019-06-04 12:21] joaovitor3 opened #255 "Atualizar readmes dos repositórios"
## Descrição da Issue
Realizar atualização dos readmes dos três repositórios

### Tasks:
- [x] Adicionar badge do codeclimate nos três repositórios
- [x] Adicionar todas variáveis de ambiente ao readme

### Critérios de aceitação
- [x] Badge do codeclimate em todos os repositórios
- [x] Todas as variáveis de ambiente no readme
- [x] Guia de community estar com checks em todos items

[2019-06-06 18:24] vitorandos commented on #251
Dois vídeos foram utilizados para estudar mocks: [Mock — Utilizando unittest.mock (com pitadas de Django) - YouTube](https://www.youtube.com/watch?v=oITM2W6h-gg&t=873s) e [Intro to Python Mocks - YouTube](https://www.youtube.com/watch?v=smPbDqGjFAI&t=275s).

Também foi utilizada a documentação do pacote: [unittest.mock — mock object library — Python 3.7.3 documentation](https://docs.python.org/3/l

[2019-06-06 18:27] vitorandos commented on #251
Vi a oportunidade e além de fazer o mock de todos os testes, também escrevi novos, elevando a cobertura para 97%, assim como mostra a imagem.

<img width="1159" alt="Captura de Tela 2019-06-06 às 15 26 31" src="https://user-images.githubusercontent.com/15351084/59056866-7e1ba880-886f-11e9-8c11-cc033421dc4e.png">

[2019-06-06 18:49] vitorandos commented on #251
Fizemos essa issue apenas para o repositório Ada-gitlab nessa sprint por não sabermos exatamente qual seria sua extensão. Seria interessante fazer uma similar para o repositório Ada-github no futuro.

[2019-06-06 18:53] vitorandos commented on #251
Além disso, é importante notar que, portanto, a partir dessa Sprint, apenas testes mockados serem aceitos. Portanto, nossa definição de pronto atualiza-se para:

[2019-06-07 00:22] ghost commented on #211
A história foi finalizada! Eu e o @sudjoao estamos pareando desde as 9:00hrs da manhã. A cobertura de testes está, atualmente, em 90% e existem apenas 2 duplicações de acordo com o CodeClimate. Hoje, também, inserimos o Mock nos testes unitários, na classe Webhook. A classe pai GitHubUtils foi criada e todas as outras classes estão herdando dela, no caso, as classes filhas. A manutenibilidade do c

[2019-06-07 02:54] joaovitor3 commented on #251
Issue finalizada com o fechamento desse [pull request](https://github.com/fga-eps-mds/2019.1-ADA-gitlab/pull/28)

[2019-06-07 02:54] #251 closed, assigned to vitorandos

[2019-06-07 02:59] joaovitor3 commented on #211
História completa com o fechamento dos pull requests do repositório [Ada Bot](https://github.com/fga-eps-mds/2019.1-ADA/pull/257) e [Ada github](https://github.com/fga-eps-mds/2019.1-ADA-github/pull/11)

[2019-06-07 02:59] #211 closed, assigned to guilherme-mendes, sudjoao

[2019-06-07 03:44] joaovitor3 commented on #253
Issue concluída após a aceitação desse [pull request](https://github.com/fga-eps-mds/2019.1-ADA/pull/258)

[2019-06-07 03:44] #253 closed, assigned to ateldyfilho

[2019-06-07 03:46] #242 closed, assigned to ateldyfilho

[2019-06-07 17:36] guilherme-mendes commented on #234
Issue concluída por meio do PR de Refatoração [#211 Refatorar GitHub](https://github.com/fga-eps-mds/2019.1-ADA-github/pull/11). Sendo validadas todas as tarefas propostas com a funcionalidade de informar os colaboradores do projeto pela Ada.

[2019-06-08 03:34] joaovitor3 commented on #255
Issue finalizada após fechar os PR's nos três repositórios:
- [pr ada github](https://github.com/fga-eps-mds/2019.1-ADA-github/pull/12)
- [pr ada gitlab](https://github.com/fga-eps-mds/2019.1-ADA-gitlab/pull/29)
- [pr ada bot](https://github.com/fga-eps-mds/2019.1-ADA/pull/259)

[2019-06-08 03:34] #255 closed, assigned to joaovitor3

[2019-06-08 14:32] sudjoao commented on #248
Pull Request já aberto e aguardando aprovação, notificação já está sendo feita e os testes estão com 91% de cobertura, mock realizado no teste relacionado a essa Issue.

[2019-06-08 14:33] joaovitor3 commented on #248
Tudo funcionando corretamente, issue finalizada

[2019-06-08 14:33] #248 closed, assigned to sudjoao

[2019-06-08 17:39] ateldyfilho opened #260 "Resultados Sprint 11"
## Descrição da Issue
* Documentação dos Resultados da Sprint 11

[2019-06-08 17:39] #234 closed, assigned to ErickGiffoni, guilherme-mendes

[2019-06-08 17:42] ateldyfilho opened #261 "Planejamento Sprint 12"
## Descrição da Issue
* Documentação do Planejamento da Sprint 12

[2019-06-08 18:10] vitorandos commented on #254
Funcionalidade terminada. Talvez seja interessante que no futuro realizamos algo para que os repositórios de organizações fiquem mais claros para que não possam ser confundidos com repositórios do usuário.

[2019-06-08 18:10] #254 closed, assigned to caiovfernandes

[2019-06-08 18:42] #232 closed, assigned to BrunoOliveiraDantas

[2019-06-08 18:45] #227 closed, assigned to ErickGiffoni, guilherme-mendes

[2019-06-08 18:47] BrunoOliveiraDantas commented on #231
No decorrer do desenvolvimento da issue, percebi que é necessário configurar o cronjob no docker, dessa forma para a próxima sprint é ideal criar uma issue para essa configuração.

[2019-06-08 18:47] #231 closed, assigned to BrunoOliveiraDantas

[2019-06-08 20:43] caiovfernandes opened #262 "US39 - Eu, como usuário, desejo poder recadastrar meu repositório do Github para o utilizar a Ada em outro repositório."
## Descrição da Issue
Deve-se criar métodos para o recadastramento de repositório pelo usuário, do github.

### Tasks:
- [x] Métodos para o recadastramento do repositório no Github;
- [x] Fluxo de conversa de recadastramento na Ada.

### Critérios de aceitação
- [x] Recadastramento do Github ocorrendo com sucesso;
- [x] Fluxo de conversa intuitivo e natural na Ada pelo telegram.
- [x] Testes.

[2019-06-08 21:00] ghost opened #263 "Melhorar comentário da Issue, por meio de reply"
## Melhorar comentário da Issue, por meio de *reply*

## Descrição da Issue
Essa *issue* é uma melhoria da [US17](https://github.com/fga-eps-mds/2019.1-ADA/issues/227), referente ao usuário comentar em uma *issue* pela ADA. Nessa nova *issue* de melhoria, pretende-se fazer esse comentário por meio de um *reply* na mensagem de notificação de uma *issue*

### Tasks:

- [x] Acessar a mensagem a parti

[2019-06-09 13:04] guilherme-mendes opened #265 "Melhoria no fluxo de conversa"
## Melhoria no fluxo de conversa

## Descrição da Issue

### Tasks:

- [x] Evitar que a Ada entre em um fluxo diferente ou não entenda quando o usuário der /start e /help.
- [x] Remover slots desnecessários.
- [x] Corrigir botões de repositórios que não são enviados.

### Critérios de aceitação

- [x] Validação do fluxo de conversa com o P.O.

[2019-06-09 13:09] guilherme-mendes opened #266 "Mockar testes do serviço do GitHub"
## Nome da Issue
Aplicar Mock nos testes do serviço do GitHUb
## Descrição da Issue
Aplicar o Mock nos testes já feitos para que o serviço não dependa de partes externas, como o próprio github, para a execução dos mesmos.
### Tasks:

- [x] Aplicar mock em todos os testes;
- [x] Todos os testes estarem rodando.

### Critérios de aceitação

- [x] Testes funcionando offline;
- [x] Cobertura de testes

[2019-06-09 21:55] sudjoao commented on #265
Começamos a fazer essa issue, removemos algumas entidades e procuramos na documentação quando realmente se deve usar entidade ou não, porém não conseguimos encontrar a documentação da versão que estamos utilizando atualmente no rasa, no site apenas aparecem opções depois da 1.0, e estamos utilizando a 0.14.1, e pelo visto na versão 1.0+ as entidades foram excluidas.

[2019-06-09 22:34] sudjoao commented on #265
O @guilherme-mendes e eu conseguimos arrumar a parte do /start e o /help, a Ada consegue identificar esses comandos independente do fluxo em que se encontra, além disso removemos algumas entidades para testar se realmente eram necessárias e continuou tudo funcionando normal.

[2019-06-10 00:36] vitorandos opened #267 "Teste em Uso Sprint 12"
## Descrição da Issue
Consiste na realização de testes em uso com potenciais usuários a fim de levantar possíveis melhorias e analisar a recepção da Ada pelo público.

### Tasks:
- [x] Planejar realização dos testes em uso
- [x] Registrar e reportar resultados
- [x] Criar issues com as melhorias levantadas

### Critérios de aceitação
- [x] Teste em uso realizado
- [x] Dados coletados e reportados

[2019-06-11 14:39] guilherme-mendes commented on #265
Após o @sudjoao e eu fazermos alguns testes com nomes de repositórios, descobrimos que a função send_message apenas identifica o **callback_data** com até **64 bytes**, assim alguns repositórios com nomes muito extensos acabava quebrando a função e fazendo com que os botões não sejam envidados. Uma das alternativas de correção seria diminuir o tamanho da frase da **intent**, que atualmente é "meu

[2019-06-11 14:39] sudjoao commented on #265
@guilherme-mendes @joaovitor_s @menezesvitorg

[2019-06-11 14:40] guilherme-mendes commented on #265
Problemas com repositórios não enviados resolvido! @joaovitor3 @menezesvitorg

[2019-06-11 18:38] guilherme-mendes commented on #265
@guilherme-mendes Validem pfv

[2019-06-11 18:40] vitorandos commented on #265
Na perspectiva do produto, a alternativa proposta está ok.

[2019-06-11 18:40] guilherme-mendes commented on #265
@vitorandos Obrigado!

[2019-06-11 21:49] #260 closed, assigned to ateldyfilho

[2019-06-12 00:28] vitorandos commented on #262
Como é uma funcionalidade, deve ser uma história de usuário. US39.

[2019-06-12 00:29] vitorandos commented on #262
Além disso, é melhor que haja uma história para cada repositório, GitHub e GitLab, portanto, US39 e US40.

[2019-06-12 00:30] vitorandos commented on #266
Comentei alguns links e algumas informações que podem ser úteis na Issue #251

[2019-06-12 13:26] ErickGiffoni commented on #263
O primeiro passo de melhoria é , a partir de um reply, conseguir acessar o conteúdo da mensagem à qual foi feito o reply para pegar o número da issue.
Depois, o próximo passo é conseguir fazer a Ada entender um reply como uma intent de coementar uma issue.
Estamos trabalhando para conseguir realizar esses passos.

[2019-06-12 14:00] ErickGiffoni commented on #263
Para facilitar o passo 1, segue abaixo um exemplo do conteúdo de uma mensagem de reply feita por mim para a Ada (tive o pequeno trabalho de verificar essa mensagem via web browser e depois de deixare ela mais paracida com um json usual. Primeiro apaguei o webhook e depois usei a getUpdates da API do Telegram):

[code]
Nesse sentido, eu e o @lucasfcm9 devemos acessar o campo dessa mensagem na ordem

[2019-06-12 14:16] ErickGiffoni commented on #262
Eai, pessoal, como está o andamento dessa issue? Algum problema ? Precisando de ajuda é só falar.

[2019-06-12 14:53] ErickGiffoni commented on #263
[code]
Exemplo do tracker.latest_message

[2019-06-12 14:54] ErickGiffoni commented on #263
É possivel perceber, a partir disso, que nao é possivel acessar o conteudo da mensagem de reply via tracker

[2019-06-12 16:03] caiovfernandes opened #272 "US41 - Eu, como usuário, desejo poder me cadastrar em repositórios de organizações do Github para poder utilizar todos os repositórios em que eu contribuo."
## Descrição da Issue
Implementar o cadastro de repositório de organização. Assim, ao se cadastrar no GitHub, o usuário receberá todos os repositórios em que ele está cadastrado para trabalhar com a Ada.
### Tasks:
- [x] Estudar uma maneira de apresentar os repositórios de organizações nos quais o usuário está cadastrado.
- [x] Implementar no microserviço Ada-GitHub o método para que sejam retorna

[2019-06-12 17:24] vitorandos commented on #267
Como a Ada possui funcionalidades que só podem ser analisadas ao longo do tempo, nessa sprint, serão realizados os dois tipos de teste em uso: monitorado e em casa.

Os testes em casa estão em andamento enquanto um monitorado já foi realizado. Logo, criarei as issues necessárias e apontar suas conclusões.

[2019-06-12 17:39] vitorandos opened #273 "Aprimorar ajuda da Ada"
## Descrição da Issue
Atualmente, a ajuda da Ada está desatualizada e, segundo os resultados do #267 Teste em Uso, pode ser aprimorada, guiando melhor o usuário.

### Tasks:
- [x] Atualizar ajuda com as funcionalidades já existentes na Ada
- [x] Segundo o teste em uso, há vezes em que usuário tenta pedir coisas a Ada da maneira exata que está escrita nos tópicos da sua mensagem de ajuda. Portanto,

[2019-06-12 17:40] vitorandos commented on #273
Exemplo da segunda task:

<img width="552" alt="Captura de Tela 2019-06-12 às 14 36 04" src="https://user-images.githubusercontent.com/15351084/59373382-ee1ea880-8d1f-11e9-8f34-be91f42eb374.png">

<img width="651" alt="Captura de Tela 2019-06-12 às 14 36 15" src="https://user-images.githubusercontent.com/15351084/59373401-faa30100-8d1f-11e9-8fa7-8cedb5180963.png">

[2019-06-12 17:42] vitorandos commented on #273
Algum apontado no teste em uso é que muito interessante e oportuno, que a Ada apresente exemplos de como conversar com ela. Por isso é tão importante que os tópicos de ajuda ensinem exatamente isso.

[2019-06-12 17:56] vitorandos opened #274 "Aprimorar fluxo de conversa de retorno de colaboradores"
## Descrição da Issue
No teste em uso realizado (#267), o fluxo de conversa quando se quer saber quem está colaborando no projeto (conforme história #234) não foi muito efetivo. O objetivo dessa issue é aprimorá-lo através de, por exemplo, criação de novas intents.

### Tasks:
- [x] Criar novas intents para o retorno dos colaboradores

### Critérios de aceitação
- [x] Validação pelo PO do fluxo at

[2019-06-12 18:00] vitorandos commented on #274
Alguns exemplos de intents executadas durante o teste em uso:

- membros
- quem contribui
- colaboradores

Além disso, verifiquei que a maioria das intents atuais possuem "do meu projeto" na sua estrutura, é importante ressaltar que nem sempre o usuário fala com essas palavras, por exemplo durante o #267 Teste em Uso, essa maneira não foi utilizada. Outra maneira possível é "do meu repositório" ou

[2019-06-12 18:07] vitorandos commented on #262
Pessoal, uma coisa boa seria considerar os termos de apagar repositório também no fluxo de conversa e então a Ada, explicar ou apresentar a opção de trocar de repositório. No #267 Teste em Uso, os usuário tentaram trocar o repositório pergunta a Ada como apagá-lo, como no exemplo a seguir:

- como apaga o repositório?
- reseta!

[2019-06-12 18:09] vitorandos commented on #274
Outro exemplo que apareceu durante a realização dos testes em uso:

- quem colabora com esse repositório?

[2019-06-12 18:13] vitorandos commented on #273
Mais um exemplo, contudo, que está funcionando:

<img width="424" alt="Captura de Tela 2019-06-12 às 15 10 42" src="https://user-images.githubusercontent.com/15351084/59375434-7e5eec80-8d24-11e9-94c2-1a03bd3dd8b9.png">

[2019-06-12 18:29] vitorandos opened #275 "Garantir que o usuário se cadastre antes de fazer pedidos a Ada"
## Descrição da Issue
Conforme notado no #267 Teste em Uso, mesmo que o usuário ainda não tenha se cadastrado, a Ada tenta executar seus pedidos, por exemplo, geração do relatório dos repositórios. O objetivo dessa issue é trazer meios para garantir que o usuário se cadastre antes de realizar as atividades.

Contudo, é importante destacar que não se deve obrigar o usuário a se cadastrar tanto no G

[2019-06-12 18:30] vitorandos commented on #275
Ainda não sei de fato como solucionar essa problemática, portanto deixei as tasks em branco e solicito o auxílio do resto da equipe e da comunidade a fim de elaborar a solução e marco a issue como help wanted.

[2019-06-12 18:34] vitorandos commented on #265
Durante o #267 Teste em Uso verifiquei que, quando a Ada não consegue gerar o relatório ela pede ao usuário que mande a mensagem novamente pra ela tentar de novo. Será que esse é mesmo o melhor jeito? Não seria talvez mais interessante recomendar ao usuário de tentar novamente _**mais tarde**_ em vez de tentá-lo imediatamente após a falha?

[2019-06-12 18:42] ErickGiffoni commented on #275
@vitorandos Uma alternativa pode ser cadastrar o usuário no banco de dados e atribuir uma variável booleana que diz se ele está cadastrado ou não . Aí antes de iniciar qualquer custom action, consultar essa variável no banco

[2019-06-12 18:46] vitorandos commented on #275
Obrigado pela sugestão, @ErickGiffoni. Infelizmente, isso ainda não resolve nosso problema. Para esse caso, podemos verificar se os atributos de project não estão vazios. O maior problema está em impedir que a Ada execute a intent quando tais atributos estiverem vazios.

[2019-06-12 18:51] vitorandos opened #276 "Aprimorar fluxo de conversa para monitoramento do estado da aplicação"
## Descrição da Issue
Durante a realização do #267 Teste em Uso, verificou-se que a Ada, ao perguntar se o usuário quer que ela monitore sua aplicação, não é muito clara. Na realização do teste, a princípio o usuário entendeu a pergunta como outra coisa coisa, depois, vendo o que era de fato, tentou cancelar o pedido, e no que, finalmente, não foi compreendido pela Ada. Imagem desse exemplo no com

[2019-06-12 18:53] vitorandos commented on #276
Exemplo citado na descrição da issue:

<img width="653" alt="Captura de Tela 2019-06-12 às 15 51 26" src="https://user-images.githubusercontent.com/15351084/59378213-2cb96080-8d2a-11e9-9d09-c4212bf8951a.png">

[2019-06-12 18:54] vitorandos commented on #276
Exemplo citado na descrição da issue:

<img width="653" alt="Captura de Tela 2019-06-12 às 15 51 26" src="https://user-images.githubusercontent.com/15351084/59378302-64c0a380-8d2a-11e9-9bc8-5acd104749b3.png">

[2019-06-12 19:09] vitorandos opened #277 "Revisar fluxos para incluir também intenções do estilo comando"
## Descrição da Issue
Conforme notado no #267 Teste em Uso, há vezes que desenvolvedores, acostumados a interagirem com tecnologias através de comandos, tentam replicar esse comportamento junto a Ada. Portanto, talvez seja interessante incorporar às intents tal comportamento.

### Tasks:
- [ ] Revisar intents e incorporar comportamentos do estilo comando

### Critérios de aceitação
- [ ] Validado

[2019-06-12 19:12] vitorandos commented on #277
Um exemplo desse comportamento é que, em um dos testes em uso, o usuário:

- criar issue nome_do_usuario "titulo"
- comentar issue #id_da_issue
- Issue #id_da_issue "Comentário: conteúdo" (esse ocorreu pois o usuário tentou replicar o comportamento da criação de issue)

[2019-06-12 19:15] vitorandos commented on #267
A princípio, as Issues que surgiram a partir do teste em uso são:

- #273 Aprimorar ajuda da Ada
- #274 Aprimorar fluxo de conversa de retorno de colaboradores
- #275 Garantir que o usuário se cadastre antes de fazer pedidos a Ada
- #276 Aprimorar fluxo de conversa para monitoramento do estado da aplicação
- #277 Revisar fluxos para incluir também intenções do estilo comando

[2019-06-12 19:19] vitorandos commented on #267
Outros pontos levantados é que a aparência da Ada é satisfatória, bem como sua comunicação fácil e natural. "É fofa, não parece ter sido feita por outro robô", comenta um usuário.

Entretanto, ela ainda é pouco prática em relação a execução 100% das suas tarefas e ainda não é completamente convincente frente a outros bots similares.

[2019-06-12 21:55] BrunoOliveiraDantas commented on #262
@vitorandos Vamos mudar essa história para a US39, e criaremos a US40 Recadastrar repositórios do Gitlab. Sobre apagar os repositórios vinculados ao usuário podemos adicionar assim que terminarmos o recadastramento.

[2019-06-12 21:56] BrunoOliveiraDantas commented on #262
@ErickGiffoni Está tudo bem até então, obrigado pela disposição.

[2019-06-12 21:59] BrunoOliveiraDantas opened #278 "US40 - Eu, como usuário, desejo poder recadastrar meu repositório do Gitlab para o utilizar a Ada em outro repositório."
## Descrição da Issue
Deve-se criar métodos para o recadastramento de repositório pelo usuário, do gitlab.

### Tasks:
- [x] Métodos para o recadastramento do repositório no Gitlab;
- [x] Fluxo de conversa de recadastramento na Ada.

### Critérios de aceitação
- [x] Recadastramento do Gitlab ocorrendo com sucesso;
- [x] Fluxo de conversa intuitivo e natural na Ada pelo telegram.
- [ ] Testes.

[2019-06-13 11:28] sudjoao commented on #266
Todos os testes foram mockados, ou seja, agora é possível roda-los de maneira offline, além disso a cobertura de testes se encontra em 91%, vamos aumentá-la para 95%, ou mais, e fazer o Pull Request.

[2019-06-13 19:10] sudjoao commented on #266
Atualmente a cobertura de testes se encontra em 96%, como mostra a imagem no final, e agora vamos conferir se está tudo funcionando perfeitamente em conjunto com a bot pois foi necessário fazer pequenas alterações em alguns metódos.

![Captura de tela de 2019-06-13 16-07-55](https://user-images.githubusercontent.com/46005310/59460552-be41d480-8df5-11e9-9ec5-410a2c3740b7.png)

[2019-06-13 19:34] sudjoao commented on #266
Tudo testado e funcionando, pull request já está criado neste [link](https://github.com/fga-eps-mds/2019.1-ADA-github/pull/21), apenas aguardando aprovação.

[2019-06-14 00:43] guilherme-mendes commented on #266
Todos os critérios de aceitação concluídos, aguardando revisão.

[2019-06-14 02:36] ghost commented on #266
Todos os testes passaram, foram mockados e a cobertura está em 96%. E o code climate manteve a  manutenibilidade em 'B'.

[2019-06-14 02:36] #266 closed, assigned to guilherme-mendes, sudjoao

[2019-06-14 02:40] guilherme-mendes commented on #265
Melhoria aceita no seguinte [Pull Request](https://github.com/fga-eps-mds/2019.1-ADA/pull/269).

[2019-06-14 02:41] #265 closed, assigned to guilherme-mendes, sudjoao

[2019-06-14 13:15] ateldyfilho opened #282 "Resultados Sprint 12"
## Descrição da Issue
* Documentação dos Resultados da Sprint 12

[2019-06-14 13:17] ateldyfilho opened #283 "Planejamento Sprint 13"
## Descrição da Issue
* Documentação do Planejamento da Sprint 13

[2019-06-14 14:16] ErickGiffoni commented on #263
Tasks 1 e 2 concluídas, ou seja, Ada já consegue acessar uma mensagem de reply e pegar o número da issue , depois faz a requisição ao nosso microserviço e comenta a issue.

[2019-06-14 14:47] #262 closed, assigned to BrunoOliveiraDantas, caiovfernandes

[2019-06-14 14:59] #272 closed, assigned to BrunoOliveiraDantas, caiovfernandes

[2019-06-14 14:59] #267 closed, assigned to vitorandos

[2019-06-14 15:17] #263 closed, assigned to ErickGiffoni

[2019-06-14 19:19] sudjoao commented on #275
O @lucasfcm9 e eu começamos a fazer essa issue, e como tinhamos previsto durante a reunião é possível descobrir se o usuário está cadastrado, ou não, através do slots do próprio rasa.

[2019-06-14 21:07] vitorandos opened #286 "Criar explicações sobre como fazer algumas ações junto a Ada"
## Descrição da Issue
Essa issue nasce do resultado das discussões da issue #277 , originária dos testes em uso #267. Seu objetivo consiste em entregar informações caso o usuário questione a Ada sobre como realizar determinadas atividades junto a Ada, como por exemplo, como criar uma issue.

### Tasks:
- [x] Levantar ações que precisam ser explicadas
- [x] Criar intents
- [x] Formular respostas da

[2019-06-14 21:10] vitorandos commented on #277
Foi discutido com a equipe e essa issue será substituída pela #286 pois realizá-la não convém ao momento e escopo do projeto agora. No lugar de permitir que as ações possam acontecer no estilo comando, uma solução seria dar mais explicações sobre como faze-las a partir da Ada. Nesse sentido, surge a issue #286.

[2019-06-14 21:10] #277 closed, assigned to nobody

[2019-06-16 14:57] ErickGiffoni opened #288 "Lista de repositórios : pegar apenas aqueles que o usuário é colaborador"
## Descrição da Issue
Ao cadastrar um usuário no github e no gitlab, a Ada mostra para ele uma sequência de botões referentes aos repositórios dele, para que o usuário escolha um deles para ela monitorar.
Nessa issue, deve-se apresentar somente os repositórios para os quais ele é colaborador.
### Tasks:

- [x] Task 1: Encontrar os repositórios que o usuário é colaborador;
- [x] Task 2: Atualizar o

[2019-06-16 15:03] ErickGiffoni commented on #288
essa descrição está correta ?

[2019-06-18 03:00] #261 closed, assigned to ateldyfilho

[2019-06-18 03:01] #282 closed, assigned to ateldyfilho

[2019-06-19 01:49] sudjoao commented on #286
Após o teste em uso vimos que a parte que mais confundiam o usuário era de criar uma issue e comentar uma issue, então foram feitas explicações a cerca desses 2, já foi validado com o PO.

[2019-06-19 18:20] vitorandos opened #292 "Apresentação Release 2"
## Descrição da Issue
Consiste na construção da apresentação da R2.

### Tasks:
- [x] Levantar agenda da apresentação
- [x] Organizar conteúdo da apresentação
- [x] Criar slide de apresentação (lembrar de seguir paleta de cores)
- [x] Trazer para a master última versão estável
- [x] Realizar o deploy da última versão estável
- [x] Elaborar release e release note no repositório
- [x] Preparar gh-pa

[2019-06-19 21:47] ateldyfilho opened #293 "Atualizar o Community profile do repositório ADA-Github"
## Descrição da Issue
Adicionar documentações no repositório [ADA Github](https://github.com/fga-eps-mds/2019.1-ADA-github) recomendadas pela comunidade para dar suporte aos colaboradores.

### Tasks:

- [x] Adicionar Código de Conduta
- [x] Adicionar Guia de contribuição
- [x] Adicionar Template de Issue
- [x] Adicionar Template de Pull Request

### Critérios de aceitação

- [x] Estar condizente

[2019-06-19 21:55] ateldyfilho opened #294 "Atualizar a descrição de ferramentas e métricas utilizadas"
## Descrição da Issue
Adicionar e descrever os indicadores de qualidade de código já utilizados

### Tasks:
- [x] Indicar e descrever a o codeclimate no plano de medição

### Critérios de aceitação
- [x] Descrever a ferramenta
- [x] Estar no Gh-pages

[2019-06-19 22:12] ateldyfilho opened #295 "Atualizar Resultados das Sprints"
## Descrição da Issue
Atualizar resultados das sprints, deixando explícito situações de rotação de papéis e impressões da sprint na avaliação do Scrum Master.

### Tasks:
- [x] Analisar os Resultados das Sprints
- [x] Rever informações relevantes não adicionadas
- [x] Adicionar informações nos documentos de Resultados das Sprints

### Critérios de aceitação

- [x] Estar condizente com o projeto

[2019-06-20 00:41] #273 closed, assigned to guilherme-mendes

[2019-06-20 13:54] ErickGiffoni commented on #278
@BrunoOliveiraDantas , @caiovfernandes , vcs já conseguiram terminar essa história ?
Precisam de ajuda ?

[2019-06-20 16:12] ErickGiffoni commented on #288
Nessa questão de apresentar somente os repositórios para os quais o usuário é colaborador, quer dizer apresentar os repositórios que ele é o próprio "owner" , ou seja, os repositórios que são realmente dele, que ele é dono ?
@caiovfernandes , @vitorandos , @joaovitor3

[2019-06-20 16:20] joaovitor3 commented on #288
@ErickGiffoni No caso seriam apenas o que ele contribuiu por meio de código, por exemplo no início do projeto quando todos foram adicionados aos repositórios da Ada

[2019-06-20 16:26] caiovfernandes commented on #288
@ErickGiffoni, devemos utilizar esses parâmetros como filtro:
![Screen Shot 2019-06-20 at 13 22 08](https://user-images.githubusercontent.com/42192251/59865289-0c5b5880-935f-11e9-9280-4b2ec1a5158a.png)

[2019-06-20 16:46] BrunoOliveiraDantas commented on #278
@ErickGiffoni, está faltando realizar os testes. Se quiser ajudar será bem vindo.

[2019-06-20 19:18] ErickGiffoni commented on #288
Issue finalizada após pareamento com @caiovfernandes .

[2019-06-20 19:40] ErickGiffoni commented on #288
Favor revisar os seguintes pull requests :
- [GitHub](https://github.com/fga-eps-mds/2019.1-ADA-github/pull/26)
- [GitLab](https://github.com/fga-eps-mds/2019.1-ADA-gitlab/pull/33)
@joaovitor3 @vitorandos @ateldyfilho @BrunoOliveiraDantas

[2019-06-20 23:36] sudjoao commented on #275
Fechando a issue pois o pull request foi aceito.

[2019-06-20 23:36] #275 closed, assigned to sudjoao

[2019-06-20 23:36] sudjoao commented on #274
Fechando a issue pois o pull request foi aceito.

[2019-06-20 23:36] #274 closed, assigned to sudjoao

[2019-06-20 23:37] sudjoao commented on #276
Fechando a issue pois o pull request foi aceito.

[2019-06-20 23:37] #276 closed, assigned to sudjoao

[2019-06-21 00:34] #286 closed, assigned to sudjoao

[2019-06-21 03:53] guilherme-mendes opened #298 "Refatorar relatório do GitLab"
### Tasks:

- [x] Informações do relatório corretas.
- [x] Testes unitário acima de 98%.

### Critérios de aceitação

- [x] Validação com o P.O.

[2019-06-22 14:17] #295 closed, assigned to ateldyfilho

[2019-06-22 14:30] #293 closed, assigned to ateldyfilho

[2019-06-22 14:31] vitorandos opened #301 "Documento para explicação e apresentação da EVM"
## Descrição da Issue
Consiste na criação de um documento no gh-pages para apresentar e explicar a metodologia utilizada na EVM do projeto.

### Tasks:
- [x] Atualizar EVM final
- [x] Explicar metodologia da EVM

### Critérios de aceitação
- [x] Revisado por algum membro do projeto

[2019-06-22 14:38] vitorandos opened #302 "Atualização de documentos"
## Descrição da Issue
Consiste na atualização e alinhamento dos documentos.

### Tasks:
- [x] Atualizar Backlog
- [x] Subir Roadmap atualizado da R2
- [x] Atualizar quaisquer outros documentos necessários

### Critérios de aceitação
- [x] Revisado por alguém do time

[2019-06-22 14:39] ateldyfilho opened #303 "Resultados Sprint 13"
## Descrição da Issue

- [x] Documentação dos Resultados da Sprint 13
- [x] Documentação Post Mortem

[2019-06-22 15:22] #294 closed, assigned to ateldyfilho

[2019-06-22 15:29] ateldyfilho opened #304 "Configurar Cronjob"
## Descrição da Issue
Descrever a issue de forma objetiva, colocando quaisquer informações necessárias para a realização da mesma.
Caso necessário também podem ser adicionadas imagens no texto explicativo da issue.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [ ] Task 1
- [ ] Task 2
- [ ] Task 3

### Critérios

[2019-06-22 15:29] ateldyfilho commented on #304
@joaovitor3 atualizar descrições e tasks conforme combinado.

[2019-06-22 15:42] ateldyfilho opened #305 "Atualização do Documento de Arquitetura"
## Descrição da Issue
Atualizar alguns pontos no documento de arquitetura sendo eles o diagrama de microsserviços, modelagem de dados, e retirando tópicos sobre a Amazon.

### Tasks:
Todas as atividades a serem realizadas devem estar elencadas em tópicos e ao serem finalizadas devem receber um check.
- [x]  diagrama de microsserviços
- [x] modelagem de dados
- [x]  retirando tópicos sobre a Amazon

[2019-06-22 15:42] ateldyfilho commented on #305
@BrunoOliveiraDantas adicionar descrição e tasks conforme acordado.

[2019-06-22 18:36] #288 closed, assigned to ErickGiffoni, caiovfernandes

[2019-06-22 18:36] #278 closed, assigned to BrunoOliveiraDantas, caiovfernandes

[2019-06-22 18:37] #298 closed, assigned to joaovitor3, guilherme-mendes

[2019-06-22 18:42] #305 closed, assigned to BrunoOliveiraDantas

[2019-06-22 18:43] #304 closed, assigned to joaovitor3

[2019-06-22 19:01] vitorandos commented on #301
Fiz uma pequena explicação sobre como é a EVM normalmente e apresentei os pontos que alteramos para o nosso contexto, também colocando as referências de cada alteração. Esses pontos podem ser vistos no GitHub Pages e na issue #215.

[2019-06-22 19:01] #301 closed, assigned to vitorandos

[2019-06-22 19:03] #302 closed, assigned to vitorandos

[2019-06-22 20:19] #283 closed, assigned to ateldyfilho

[2019-06-22 21:05] #303 closed, assigned to ateldyfilho

[2019-06-24 19:59] vitorandos commented on #292
Pontos importantes levantados como passíveis de serem incluídos na apresentação:

- Fluxo de receita bem definido
- Ambientes de homologação e produção elaborados desde antes da R1
- Linguagem natural (pode apontar que as pessoas durante o teste em uso falaram que ela não parecia robótica e bem natural)
- Adoção comprometida da metodologia ágil (o que funcionou, o que ajudou)
- Talvez falar do moc

[2019-06-24 20:00] sudjoao commented on #292
@vitorandos Outra coisa que seria bom de se comentar durante a apresentação é sobre o cronjob.

[2019-06-25 01:11] lucasfcm9 opened #313 "hehehe"
hehehe

[2019-06-25 01:12] #313 closed

[2019-06-25 18:05] sudjoao opened #319 "issue para demonstração da apresentação"
testando a criação

[2019-06-25 18:05] sudjoao commented on #319
comentando qualquer coisa

[2019-06-25 18:58] sudjoao opened #320 "isso é uma issue de teste"
estou testando

[2019-06-25 18:58] sudjoao commented on #320
comentando a issue na apresentação

[2019-06-26 01:51] vitorandos commented on #292
Apresentação realizada com sucesso!

[2019-06-26 01:51] #292 closed, assigned to ateldyfilho, vitorandos, joaovitor3, BrunoOliveiraDantas, ErickGiffoni, guilherme-mendes, caiovfernandes, sudjoao

[2019-06-26 11:27] ErickGiffoni commented on #292
@vitorandos Dammmmmm it was dope !